<div class="govuk-summary-card">
  <div class="govuk-summary-card__title-wrapper">
    <h2 class="govuk-summary-card__title">Prison allocation</h2>
  </div>
  <div class="govuk-summary-card__content">
    <% if allocation %>
      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Active?</dt>
          <dd class="govuk-summary-list__value">
            <%= allocation.active? ? 'Yes' : 'No' %>
          </dd>
        </div>
        
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">POM</dt>
          <dd class="govuk-summary-list__value">
            <%= allocation.primary_pom_name&.titleize %>
          </dd>
        </div>
        
        <% if @offender %>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">POM Role</dt>
            <dd class="govuk-summary-list__value">
              <%= pom_responsibility_label(@offender) %>
            </dd>
          </div>
        <% end %>
          
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Last allocation event</dt>
          <dd class="govuk-summary-list__value"><%= last_event(allocation) %></dd>
        </div>
      </dl>
    <% else %>
      <p class="govuk-body">No allocation recorded</p>
    <% end %>
  </div>
</div>
