<table class="govuk-table">
  <tbody class="govuk-table__body">
  <tr class="govuk-table__row">
    <td class="govuk-table__header govuk-!-width-one-half">Case Information/Parole Record</td>
    <td class="govuk-table__cell govuk-!-width-one-half"></td>
  </tr>

  <% record = @offender.probation_record %>
  <% if record %>
    <% [record, *record.versions.map(&:reify)].each_with_index do |version, index| %>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell"><%= index == 0 ? 'Current Version' : '' %></td>
        <td class="govuk-table__cell table_cell__left_align">
          <%= version.attributes.select { |k, v| !%w[id local_delivery_unit_id created_at nomis_offender_id].include?(k) \
                                                 && v.present? }.map { |k, v| "#{k} = #{v}" }.join(', ') %>
        </td>
      </tr>
    <% end %>
  <% end %>
  </tbody>
</table>
