<table class="govuk-table">
  <tbody class="govuk-table__body">
  <tr class="govuk-table__row">
    <td class="govuk-table__header govuk-!-width-one-half">Case Information/Parole Record</td>
    <td class="govuk-table__cell govuk-!-width-one-half"></td>
  </tr>

  <% record = @offender.probation_record %>
  <% if record %>
    <% record.versions.each_with_index do |version, index| %>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell"><%= index == 0 ? 'Current Version' : '' %></td>
        <td class="govuk-table__cell table_cell__left_align">
          <%= detail_component('Attributes') do %>
            <%= version.changeset.slice(*%w[id local_delivery_unit_id created_at nomis_offender_id])
                       .map { |k, v| "#{k} = #{v.last}" }.join('<br>').html_safe %>
          <% end %>
        </td>
      </tr>
    <% end %>
  <% end %>
  </tbody>
</table>
