<div class="govuk-grid-column-one-third">
  <div class="wrapper">
    <h1 class="govuk-heading-s">
      <%= link_to title, link, class:"govuk-link" %>
    </h1>
    <p class="govuk-body"><%=content%></p>
  </div>
</div>