<div class="moj-timeline__item">
  <div class="moj-timeline__header">
    <h2 class="moj-timeline__title">Co-working allocation</h2>
  </div>

  <div class="moj-timeline__description">Prisoner allocated to <%= allocate_secondary_pom.secondary_pom_name.titleize %>
    - <%= format_email(@pom_emails[allocate_secondary_pom.secondary_pom_nomis_id]) %>
    <br/>
  </div>

  <p class="moj-timeline__date"><%= format_date_long(allocate_secondary_pom.updated_at) %>
    <% if allocate_secondary_pom.created_by_name.present? %>
      by <%= allocate_secondary_pom.created_by_name.titleize %>
    <% end %>
  </p>
</div>
