<li class="action_needed">
  <h2 class="govuk-heading-s">Prisoner allocation</h2>
<p>Prisoner allocated to
  <%= link_to(allocation.primary_pom_name.titlecase, pom_path(allocation.primary_pom_nomis_id)) %>
  <br/>
  Tier: <%= allocation.allocated_at_tier %>
<p class="time"><%= format_date_long(allocation.updated_at) %>
  by <%= allocation.created_by_name.titlecase %></p>
</li>