<li class="action_needed">
  <h2 class="govuk-heading-s">Prisoner unallocated
    <% if allocation.event_trigger == 'offender_movement' %>
        (transfer)
    <% end %>
  </h2>
  <p class="time"><%= format_date_long(allocation.updated_at) %></p>
</li>
