<li class="action_needed">
  <h2 class="govuk-heading-s"><%= allocation_type %> unallocated
    <% if allocation.event_trigger == 'offender_transferred' %>
        (transfer)
    <% end %>
  </h2>
  <p>
  &nbsp;
  <br/>
&nbsp;
  <p class="time"><%= format_date_long(allocation.updated_at) %></p>
</li>
