<div class="moj-timeline__item">
  <div class="moj-timeline__header">
    <h2 class="moj-timeline__title">Prisoner released</h2>
  </div>
  <p class="moj-timeline__date"><%= format_date_long(deallocate_released_offender.updated_at) %></p>
</div>