<div class="moj-timeline__item">
  <div class="moj-timeline__header">
    <h2 class="moj-timeline__title">Early allocation decision recorded</h2>
  </div>

  <p class="moj-timeline__date"><%= format_date_long(ea_decision_eligible.created_at) %>
    by <%= ea_decision_eligible.created_by_name.titleize %>
  </p>

  <div class="moj-timeline__description">
    <p>
      The community probation team accepted the early allocation referral.
    </p>
    <p>
      The case handover date has been updated. The community probation team will allocate a COM to take responsibility for this case early.
    </p>
  </div>
</div>
