<div class="moj-timeline__item">
  <div class="moj-timeline__header">
    <h2 class="moj-timeline__title">Early allocation assessment form completed</h2>
  </div>

  <p class="moj-timeline__date"><%= format_date_long(ea_eligible.created_at) %>
    by <%= ea_eligible.created_by_name.titleize %>
  </p>

  <div class="moj-timeline__description">
    <p>
      Assessment outcome: eligible.
    </p>
    <p>
      The case handover date has been updated. The community probation team will allocate a COM to take responsibility for this case early.
    </p>
    <p>
      <%= link_to 'View saved assessment', prison_prisoner_early_allocation_path(
        prison_id: @prison.code,
        prisoner_id: ea_eligible.nomis_offender_id,
        id: ea_eligible.id
      ) %>
    </p>
  </div>
</div>
