<div class="moj-timeline__item">
  <div class="moj-timeline__header">
    <h2 class="moj-timeline__title">Early allocation decision requested</h2>
  </div>

  <p class="moj-timeline__date"><%= format_date_long(email_discretionary_early_allocation.created_at) %>
    email sent automatically
  </p>

  <div class="moj-timeline__description">
    <p>
      The LDU for <%= email_discretionary_early_allocation.name %> - <%=  format_email(email_discretionary_early_allocation.email) %> - was sent a copy of the discretionary early allocation assessment.
    </p>
    <p>
      The allocated POM was copied into this email.
    </p>
  </div>
</div>
