
<div class="govuk-tabs" data-module="tabs">
<h2 class="govuk-tabs__title">
    Allocations
</h2>
<ul class="govuk-tabs__list" role='tablist'>
    <li class="govuk-tabs__list-item">
    <a class="govuk-tabs__tab <% if active == :allocated %>govuk-tabs__tab--selected<% end %>" href="<%= allocations_path() %>">
        Allocated (N)
    </a>
    </li>
    <li class="govuk-tabs__list-item">
    <a class="govuk-tabs__tab <% if active == :pending %>govuk-tabs__tab--selected<% end %>" href="<%= allocations_awaiting_path() %>">
        Awaiting allocation (N)
    </a>
    </li>
    <li class="govuk-tabs__list-item">
    <a class="govuk-tabs__tab <% if active == :tier %>govuk-tabs__tab--selected<% end %>" href="<%= allocations_missing_information_path() %>">
        Awaiting tiering (N)
    </a>
    </li>
</ul>
