<div class="moj-timeline__item">
  <div class="moj-timeline__header">
    <h2 class="moj-timeline__title">Contact added</h2>
  </div>
  <div class="moj-timeline__description">
    Victim Liaison Officer contact added
    <p class="moj-timeline__date"><%= format_date_long(vlo_create.created_at) %>
      <% if vlo_create.created_by_name.present? %>
        by <%= vlo_create.created_by_name.titleize %>
      <% end %>
    </p>
  </div>
</div>