<%= link_to "Back", 'javascript:history.back()', class: "govuk-back-link govuk-!-margin-top-0 govuk-!-margin-bottom-6" %>

<h1 class="govuk-heading-l"><%= @prisoner.full_name %></h1>

<% allocation_list(@history).each do |prison, allocations| %>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column">
      <h2 class="govuk-heading-m"><%= prison_title(prison) %></h2>
      <div class="moj-timeline">
        <%= render allocations, allocations: allocations %>
      </div>
    </div>
  </div>
<% end %>
