<%= link_to "Back", 'javascript:history.back()', class: "govuk-back-link govuk-!-margin-top-0 govuk-!-margin-bottom-6" %>

<h1 class="govuk-heading-l"><%= @prisoner.full_name %></h1>

<% allocation_list(@history, @early_allocations, @email_histories).each do |prison, case_histories| %>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column">
      <h2 class="govuk-heading-m"><%= PrisonService.name_for(prison) %></h2>
      <div class="moj-timeline">
        <%= render case_histories %>
      </div>
    </div>
  </div>
<% end %>
