<h1 class="govuk-heading-l govuk-!-margin-bottom-5">Allocation information</h1>

<%= render 'shared/basic_prisoner_info' %>

<%= render 'shared/allocation_info' %>

<%= render 'shared/offence_info' %>
<%= render 'allocations/case_information' %>

