<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-half">
    <div class="moj-search govuk-!-margin-bottom-8">
      <%= form_tag(search_prison_prisoners_path(@prison.code), method: :get, id: "search_form") do %>
        <div class="govuk-form-group">
          <label class="govuk-label moj-search__label govuk-!-font-weight-bold" for="search">
            Find a case
          </label>
          <input class="govuk-input moj-search__input " id="q" name="q" type="search" aria-describedby="search-hint">
        </div>
        <button id="search-button" class="govuk-button moj-search__button " data-module="govuk-button">
          Search
        </button>
      <% end %>
    </div>
  </div>
</div>