<% # Use the Case Mix helper method `case_mix_key` to render this partial %>
<figure class="case-mix-key case-mix-horizontal">
  <ul>
    <figcaption class="govuk-heading-s">Case mix by tier:</figcaption>
    <% labels.each do |tier, label| %>
      <li>
        <span class="case-mix-key__swatch case-mix__<%= tier %>"></span>
        <%= label %>
      </li>
    <% end %>
  </ul>
</figure>
