<% details = create.change_details %>
<% description = capture do %>
  <% details.each do |detail| %>
    <p class="govuk-body">
      <%= detail.label %>: <%= detail.to_value %>
    </p>
  <% end %>
<% end %>
<%= render 'case_history/case_history',
           title: 'Case information created',
           description: description,
           object: create %>
