<% if early_allocations.present? %>
  <table class="govuk-table" id="saved_assessments">
    <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header">Assessment date</th>
      <th scope="col" class="govuk-table__header">Outcome</th>
      <th scope="col" class="govuk-table__header">POM name</th>
      <th scope="col" class="govuk-table__header">Action</th>
    </tr>
    </thead>
    <tbody class="govuk-table__body">
    <% early_allocations.each do |early_allocation| %>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell"><%= format_date(early_allocation.created_at.to_date) %></td>
        <td class="govuk-table__cell"><%= early_allocation_long_outcome(early_allocation) %></td>
        <td class="govuk-table__cell"><%= pom_full_name(early_allocation) %></td>
        <td class="govuk-table__cell">
          <%= link_to "View", prison_prisoner_early_allocation_path(prison_id, prisoner_id, early_allocation.id) %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
<% else %>
  <p class="govuk-body">This case has no saved assessments.</p>
<% end %>
