<%= form_for(@early_allocation,
             as: :early_allocation,
             url: oasys_date_prison_prisoner_early_allocations_path(@prison.code, @early_allocation.nomis_offender_id),
             method: form_method,
             builder: GOVUKDesignSystemFormBuilder::FormBuilder) do |f| %>
  <%= f.govuk_error_summary %>

  <h1 class="govuk-heading-l govuk-!-margin-top-4">Assessment for early allocation to the community probation team</h1>

  <p class="govuk-body">
    Some cases will be referred to the community automatically. Others need the
    agreement of both the Head of Offender Management Delivery and the
    community probation team. This assessment will help you determine what
    kind of community referral you need to make.
  </p>

  <%= f.govuk_date_field(:oasys_risk_assessment_date,
                         legend: {
                             size: 's',
                             text: 'When was the last OASys risk assessment?'
                         }) %>

  <%= f.submit "Continue", role: "button", draggable: "false", class: "govuk-button" %>
<% end %>