<p class="govuk-body">
  The case record has been updated to show that this might be an early allocation case.
</p>
<p class="govuk-body">
  We will remind the allocated POM to make a new assessment 18 months before release.
</p>
<p class="govuk-body">
  The POM can view saved assessments.
</p>
