<div class="govuk-grid-column-one-third">
  <aside class="sidebar-panel" role="complementary">
    <h2 class="govuk-heading-m">
      Guidance
    </h2>
    <nav role="navigation" aria-labelledby="subsection-title">
      <ul class="govuk-list govuk-!-font-size-16">
        <li>
          <p>
            <a class="govuk-link">
              <a href="https://equip-portal.rocstac.com/CtrlWebIsapi.dll/?__id=webDiagram.show&map=0%3A9A63E167DE4B400EA07F81A9271E1944&dgm=4F984B45CBC447B1A304B2FFECABB777">View EQuiP guidance</a>
            </a>
          </p>
        </li>
      </ul>
      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
      <h2 class="govuk-heading-m" id="subsection-title">
        Prisoner information
      </h2>
      <ul class="govuk-list govuk-!-font-size-16">
        <li>
          <p class="govuk-body" id="prisoner-name">Name: <%= @offender.full_name %></p>
          <p class="govuk-body" id="date-of-birth">Date of birth: <%= format_date(@offender.date_of_birth)%></p>
          <p class="govuk-body" id="nomis-number">NOMIS number: <%= @offender.offender_no %></p>
        </li></ul>
    </nav>
  </aside>
</div>