<% content_for :switcher do %>
  <%= render '/layouts/prison_switcher' %>
<% end %>

<fieldset class="govuk-fieldset" aria-describedby="how-contacted-conditional-hint">
  <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
    <h1 class="govuk-fieldset__heading">
      This case cannot be assessed for early allocation
    </h1>
  </legend>
</fieldset>

<p class="govuk-body">
  As there is no community LDU information available for this prisoner, it’s not possible to
  perform an early allocation assessment.
</p>
<p class="govuk-body">
  This is something we are currently working on.
</p>

<p class="govuk-body">
  You can make the assessment by completing the referral on word and emailing to the relevant LDU.
</p>

<p class="govuk-body">
Please speak to your HOMd for more information if required.
</p>

<p class="govuk-body">
The Early Allocation referral can be found
  on <a href="https://equip-portal.rocstac.com/CtrlWebIsapi.dll/?__id=webDiagram.show&map=0%3A9A63E167DE4B400EA07F81A9271E1944&dgm=4F984B45CBC447B1A304B2FFECABB777">Equip</a>
</p>

<%= back_link %>