<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
  <%= render 'discretionary', form_method: :post %>
  </div>
  <%= render 'prisoner_info_sidebar', offender: @prisoner %>
</div>
