<% content_for :title, "Date of last OASys – Digital Prison Services" %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= render 'oasys_date', form_method: :post %>
  </div>
    <%= render 'prisoner_info_sidebar', offender: @prisoner %>
</div>
