<table class="govuk-table govuk-!-margin-top-3">
  <tbody class="govuk-table__body">
  <tr class="govuk-table__row">
    <td class="govuk-table__header" scope="row">Case information</td>
    <td class="govuk-table__cell"></td>
  </tr>
  <tr class="govuk-table__row">
    <td class="govuk-table__cell hmpps-table-cell__key">Current responsibility</td>
    <td class="govuk-table__cell table_cell__left_align hmpps-table-cell__key">Need to get from somewhere!</td>
  </tr>

  <tr class="govuk-table__row">
    <td class="govuk-table__cell hmpps-table-cell__key">Case allocation</td>
    <td class="govuk-table__cell table_cell__left_align hmpps-table-cell__key">Need to get from somewhere!
    </td>
  </tr>
  <tr class="govuk-table__row">
    <td class="govuk-table__cell hmpps-table-cell__key">Tiering calculation</td>
    <td class="govuk-table__cell table_cell__left_align hmpps-table-cell__key">
      <a href="#">Need to get from somewhere!</a></td>
  </tr>
  </tbody>
</table>
