<table class="govuk-table">
  <tbody class="govuk-table__body">
  <tr class="govuk-table__row">
    <td class="govuk-table__header" scope="row">Offence</td>
    <td class="govuk-table__cell"></td>
  </tr>
  <tr class="govuk-table__row">
    <td class="govuk-table__cell hmpps-table-cell__key">Main Offence</td>
    <td class="govuk-table__cell table_cell__left_align hmpps-table-cell__key">Fraud</td>
  </tr>
  <tr class="govuk-table__row">
      <td class="govuk-table__cell hmpps-table-cell__key">Release date / parole eligibility</td>
      <td class="govuk-table__cell table_cell__left_align hmpps-table-cell__key">21/08/2028</td>
    </tr>
  </tbody>
</table>
</div>
