<a href="#" class="govuk-back-link govuk-!-margin-bottom-6">Back</a>

<h1 class="govuk-heading-l govuk-!-margin-bottom-5">Allocate a Prison Offender Manager</h1>

<%= render 'allocate_prison_offender_managers/basic_prisoner_info' %>

<%= render 'allocate_prison_offender_managers/current_pom_info' %>

<%= render 'allocate_prison_offender_managers/case_information' %>

<hr class="govuk-section-break govuk-section-break--l govuk-section-break--invisible"></hr>

<%= render 'allocate_prison_offender_managers/pom_tables' %>
