<div class="moj-timeline__item">
  <div class="moj-timeline__header">
    <h2 class="moj-timeline__title"><%= title %></h2>
  </div>

  <p class="moj-timeline__date"><%= format_date_long(object.created_at) %>
    email sent automatically
  </p>

  <div class="moj-timeline__description">
    <%= description %>
  </div>

</div>
