---
http_interactions:
- request:
    method: post
    uri: https://gateway.t3.nomis-api.hmpps.dsd.io/auth/oauth/token?grant_type=client_credentials
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - authorisation_header
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"access_token":"eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCJ9.eyJpbnRlcm5hbFVzZXIiOmZhbHNlLCJzY29wZSI6WyJyZWFkIiwid3JpdGUiXSwiZXhwIjoxNTQ1MDQ4ODA0LCJhdXRob3JpdGllcyI6WyJST0xFX1NZU1RFTV9SRUFEX09OTFkiXSwianRpIjoiMDc1N2FiNTAtZDJkNC00N2VjLWEyZDYtZjQxOGRlYTIzNTVmIiwiY2xpZW50X2lkIjoib2ZmZW5kZXItbWFuYWdlbWVudC1hbGxvY2F0aW9uLW1hbmFnZXIifQ.QujZ2DDBpX7OMQQmhriwL6ExgbB2hZ_4dLQcNYCpBl4Cmk7_kDsuw301l1gj1x5SEm0Lx7a5PZGfae_YTFITBTvKeif5OKCCAi-Wlab16Ukdf5AGjY1_ycqjYst4yLaLiV_DfGIpqT4zNRbDpZ0UF40yyhUXBpkoXlOOFKw9FcdSuqkTS5gR94hy-HTs1cIr2Zv5hAD421QFPF698yhGRQT5LgpZPy2rxWh4ru8nWVAzaqZy9u-xZB2e35BpnL6gIJQhDz9vEAkHveBwaGAdcgkgsoahsOErBghJfn1nC6Vl3kfbaoBL9inmI8_Lwen7rDrYpfK52er5M8jjXoS0NA","token_type":"bearer","expires_in":1199,"scope":"read
        write","internalUser":false,"jti":"0757ab50-d2d4-47ec-a2d6-f418dea2355f"}'
  recorded_at: Mon, 17 Dec 2018 11:53:24 GMT
- request:
    method: get
    uri: https://gateway.t3.nomis-api.hmpps.dsd.io/custodyapi/api/offenders/prison/LEI?page=1&size=10
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - authorisation_header
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/hal+json;charset=UTF-8
      X-Application-Context:
      - application:logstash,oracle
    body:
      encoding: UTF-8
      string: '{"_embedded":{"offenders":[{"nomsId":"G7998GJ","offenderId":1317074,"firstName":"OKADONAH","surname":"AHMONIS","dateOfBirth":"1968-07-07","activeBooking":{"bookingId":965725,"bookingNo":"P91399","offenderId":1317074,"rootOffenderId":1317074,"agencyLocation":{"agencyLocationId":"LEI","description":"LEEDS
        (HMP)","longDescription":"HMP LEEDS","agencyLocationType":"INST","districtCode":"YORK","bailOffice":false,"housingLev1Code":"WING","housingLev2Code":"LAND","housingLev3Code":"CELL","housingLev4Code":"NULL","serviceRequired":false,"active":true,"areaCode":"YORK","nomsRegionCode":"YOHUM","geographicRegionCode":"YORK","cjitCode":"E00LE00"},"livingUnit":{"internalLocationId":13032,"internalLocationCode":"039","agencyLocationId":"LEI","internalLocationType":"CELL","description":"LEI-D-3-039","capacity":2,"parentInternalLocationId":13000,"active":true,"listSequence":39,"cnaNumber":1,"certified":true,"unitType":"NA","operationCapacity":2,"numberOfOccupants":2,"trackingFlag":"N"},"activeFlag":true,"bookingStatus":"O","inOutStatus":"IN","statusReason":"ADM-I","startDate":"2015-03-12","bookingSequence":1}},{"nomsId":"G2390UN","offenderId":2538586,"firstName":"EF''LIAICO","surname":"AIDIO","dateOfBirth":"1971-08-21","activeBooking":{"bookingId":1161260,"bookingNo":"12085A","offenderId":2538586,"rootOffenderId":2538586,"agencyLocation":{"agencyLocationId":"LEI","description":"LEEDS
        (HMP)","longDescription":"HMP LEEDS","agencyLocationType":"INST","districtCode":"YORK","bailOffice":false,"housingLev1Code":"WING","housingLev2Code":"LAND","housingLev3Code":"CELL","housingLev4Code":"NULL","se[...]
- request:
    method: get
    uri: https://gateway.t3.nomis-api.hmpps.dsd.io/custodyapi/api/offenders/offenderId/1317074/releaseDetails?bookingId=965725
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - authorisation_header
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Application-Context:
      - application:logstash,oracle
    body:
      encoding: UTF-8
      string: '[{"bookingId":965725,"releaseDate":"2017-04-09","movementReasonType":"REL","movementReasonCode":"CR","movementReasonDescription":"CONDITIONAL
        RELEASE","eventId":335710788,"eventStatus":"SCH","autoReleaseDate":"2017-04-30","verified":false}]'
  recorded_at: Mon, 17 Dec 2018 11:53:24 GMT
[...]
- request:
    method: get
    uri: https://gateway.t3.nomis-api.hmpps.dsd.io/custodyapi/api/offenders/offenderId/1185287/releaseDetails?bookingId=1178649
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - authorisation_header
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Application-Context:
      - application:logstash,oracle
    body:
      encoding: UTF-8
      string: '[{"bookingId":1178649,"comments":"AHNMrimgVAHNMrimgV","eventId":335464120,"eventStatus":"SCH","verified":false}]'
  recorded_at: Mon, 17 Dec 2018 11:53:25 GMT
[...]
- request:
    method: get
    uri: https://gateway.t3.nomis-api.hmpps.dsd.io/custodyapi/api/offenders/offenderId/1844327/releaseDetails?bookingId=595100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - authorisation_header
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Application-Context:
      - application:logstash,oracle
    body:
      encoding: UTF-8
      string: '[{"bookingId":595100,"releaseDate":"2017-07-28","movementReasonType":"REL","movementReasonCode":"CR","movementReasonDescription":"CONDITIONAL
        RELEASE","eventId":262479942,"eventStatus":"SCH","approvedReleaseDate":"2017-08-29","verified":false}]'
  recorded_at: Mon, 17 Dec 2018 11:53:25 GMT
- request:
    method: get
    uri: https://gateway.t3.nomis-api.hmpps.dsd.io/custodyapi/api/offenders/offenderId/2565419/releaseDetails?bookingId=1186240
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - authorisation_header
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Application-Context:
      - application:logstash,oracle
    body:
      encoding: UTF-8
      string: '[{"bookingId":1186240,"releaseDate":"2018-01-22","movementReasonType":"REL","movementReasonCode":"CR","movementReasonDescription":"CONDITIONAL
        RELEASE","eventId":337377430,"eventStatus":"SCH","autoReleaseDate":"2018-02-21","verified":false}]'
  recorded_at: Mon, 17 Dec 2018 11:53:25 GMT
recorded_with: VCR 4.0.0
