---
http_interactions:
- request:
    method: get
    uri: https://gateway.t3.nomis-api.hmpps.dsd.io/custodyapi/api/offenders/prison/LEI?page=0&size=10
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - authorisation_header
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/hal+json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"_embedded":{"offenders":[{"nomsId":"G4273GI","offenderId":1284739,"firstName":"OZULLIRN","middleNames":"TESSE","surname":"ABBELLA","dateOfBirth":"1980-08-15","activeBooking":{"bookingId":1153753,"bookingNo":"04581A","offenderId":1284739,"rootOffenderId":1284739,"agencyLocation":{"agencyLocationId":"LEI","description":"LEEDS
        (HMP)","longDescription":"HMP LEEDS","agencyLocationType":"INST","districtCode":"YORK","bailOffice":false,"housingLev1Code":"WING","housingLev2Code":"LAND","housingLev3Code":"CELL","housingLev4Code":"NULL","serviceRequired":false,"active":true,"areaCode":"YORK","nomsRegionCode":"YOHUM","geographicRegionCode":"YORK","cjitCode":"E00LE00"},"livingUnit":{"internalLocationId":12830,"internalLocationCode":"021","agencyLocationId":"LEI","internalLocationType":"CELL","description":"LEI-B-4-021","capacity":2,"parentInternalLocationId":12809,"active":true,"listSequence":21,"cnaNumber":1,"certified":true,"unitType":"NA","operationCapacity":1,"numberOfOccupants":1,"trackingFlag":"N"},"activeFlag":true,"bookingStatus":"O","inOutStatus":"IN","statusReason":"CRT-PR","startDate":"2016-11-26","bookingSequence":1}},{"nomsId":"G7806VO","offenderId":2003241,"firstName":"ONGMETAIN","surname":"ABDORIA","dateOfBirth":"1990-12-06","activeBooking":{"bookingId":754207,"bookingNo":"K09211","offenderId":2003241,"rootOffenderId":2003241,"agencyLocation":{"agencyLocationId":"LEI","description":"LEEDS
        (HMP)","longDescription":"HMP LEEDS","agencyLocationType":"INST","districtCode":"YORK","bailOffice":false,"housingLev1Code":"WING","housingLev2Code":"LAND","housingLev3Code":"CELL","housingLev4Code":"NULL","se[...]
