---
http_interactions:
- request:
    method: get
    uri: https://gateway.t3.nomis-api.hmpps.dsd.io/custodyapi/api/offenders/prison/LEI?page=10000&size=10
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - authorisation_header
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/hal+json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"_links":{"first":{"href":"https://gateway.t3.nomis-api.hmpps.dsd.io/custodyapi/api/offenders/prison/LEI?page=0&size=10&sort=offender.lastName,offender.firstName,asc"},"prev":{"href":"https://gateway.t3.nomis-api.hmpps.dsd.io/custodyapi/api/offenders/prison/LEI?page=9999&size=10&sort=offender.lastName,offender.firstName,asc"},"self":{"href":"https://gateway.t3.nomis-api.hmpps.dsd.io/custodyapi/api/offenders/prison/LEI?page=10000&size=10&sort=offender.lastName,offender.firstName,asc"},"last":{"href":"https://gateway.t3.nomis-api.hmpps.dsd.io/custodyapi/api/offenders/prison/LEI?page=116&size=10&sort=offender.lastName,offender.firstName,asc"}},"page":{"size":10,"totalElements":1167,"totalPages":117,"number":10000}}'
  recorded_at: Fri, 11 Jan 2019 13:30:40 GMT
recorded_with: VCR 4.0.0
