---
http_interactions:
- request:
    method: post
    uri: https://gateway.t3.nomis-api.hmpps.dsd.io/auth/oauth/token?grant_type=client_credentials
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - authorisation_header
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"access_token":"eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCJ9.eyJpbnRlcm5hbFVzZXIiOmZhbHNlLCJzY29wZSI6WyJyZWFkIiwid3JpdGUiXSwiZXhwIjoxNTQ0NjMzOTg3LCJhdXRob3JpdGllcyI6WyJST0xFX1NZU1RFTV9SRUFEX09OTFkiXSwianRpIjoiZjFkMWIyZTUtZjc0NC00Y2E2LTg4ZDItNGIyNTFhNTY5ZGM3IiwiY2xpZW50X2lkIjoib2ZmZW5kZXItbWFuYWdlbWVudC1hbGxvY2F0aW9uLW1hbmFnZXIifQ.ShJ96uxLhArHYpt8kaf5ucT24E4Hrr37Dd5TKWgIkosy7Ur-H2Q2tWcYs29uTBByyU38YiUXqUCR5P8HOEYXlt1Gs-bK9vdrRwGsEPeWMfEkZ6myEIWM897hQKhzSDHUA6rWZ2Emdx--hYsviw9h8MXpYIuOcaSlGgqTA09gn_CnQCvWgTRN-1J2Lvoxp9gcwFi_8hGFk1LgXwSBFj1DbOrtt6OkqusiN0iUvBkqC4QCukymwbezc1LaRHRKuBTw3pl_vWy5ul4pLiwQ5ezm6guHcolTsjgX9d6WAeUh6PmBDks0Z8iwmfD4a-x5anyK4o5uhOU370mSsJ-xPBkd_Q","token_type":"bearer","expires_in":1199,"scope":"read
        write","internalUser":false,"jti":"f1d1b2e5-f744-4ca6-88d2-4b251a569dc7"}'
  recorded_at: Mon, 12 Nov 2018 00:00:00 GMT
- request:
    method: get
    uri: https://gateway.t3.nomis-api.hmpps.dsd.io/custodyapi/api/offenders/prison/LEI?page=0&size=10
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - authorisation_header
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/hal+json;charset=UTF-8
      X-Application-Context:
      - application:logstash,oracle
    body:
      encoding: UTF-8
      string: '{"_embedded":{"offenders":[{"nomsId":"G7998GJ","offenderId":1317074,"firstName":"OKADONAH","surname":"AHMONIS","dateOfBirth":"1968-07-07","activeBooking":{"bookingId":965725,"bookingNo":"P91399","offenderId":1317074,"rootOffenderId":1317074,"agencyLocation":{"agencyLocationId":"LEI","description":"LEEDS
        (HMP)","longDescription":"HMP LEEDS","agencyLocationType":"INST","districtCode":"YORK","bailOffice":false,"housingLev1Code":"WING","housingLev2Code":"LAND","housingLev3Code":"CELL","housingLev4Code":"NULL","serviceRequired":false,"active":true,"areaCode":"YORK","nomsRegionCode":"YOHUM","geographicRegionCode":"YORK","cjitCode":"E00LE00"},"livingUnit":{"internalLocationId":13032,"internalLocationCode":"039","agencyLocationId":"LEI","internalLocationType":"CELL","description":"LEI-D-3-039","capacity":2,"parentInternalLocationId":13000,"active":true,"listSequence":39,"cnaNumber":1,"certified":true,"unitType":"NA","operationCapacity":2,"numberOfOccupants":2,"trackingFlag":"N"},"activeFlag":true,"bookingStatus":"O","inOutStatus":"IN","statusReason":"ADM-I","startDate":"2015-03-12","bookingSequence":1}},{"nomsId":"G2390UN","offenderId":2538586,"firstName":"EF''LIAICO","surname":"AIDIO","dateOfBirth":"1971-08-21","activeBooking":{"bookingId":1161260,"bookingNo":"12085A","offenderId":2538586,"rootOffenderId":2538586,"agencyLocation":{"agencyLocationId":"LEI","description":"LEEDS
        (HMP)","longDescription":"HMP LEEDS","agencyLocationType":"INST","districtCode":"YORK","bailOffice":false,"housingLev1Code":"WING","housingLev2Code":"LAND","housingLev3Code":"CELL","housingLev4Code":"NULL","se[...]
