---
http_interactions:
- request:
    method: post
    uri: https://gateway.t3.nomis-api.hmpps.dsd.io/auth/oauth/token?grant_type=client_credentials
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - authorisation_header
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"access_token":"eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCJ9.eyJpbnRlcm5hbFVzZXIiOmZhbHNlLCJzY29wZSI6WyJyZWFkIiwid3JpdGUiXSwiZXhwIjoxNTQ3MTI2OTIxLCJhdXRob3JpdGllcyI6WyJST0xFX1NZU1RFTV9SRUFEX09OTFkiXSwianRpIjoiZDVjOWFmNDEtYTNiMC00YjRmLWE3ODgtNDMxMjc2Y2Q3OTgxIiwiY2xpZW50X2lkIjoib2ZmZW5kZXItbWFuYWdlbWVudC1hbGxvY2F0aW9uLW1hbmFnZXIifQ.LSvqZ0EkWufSfsAnzTJBRjlSeuxMTo8tr_q882s2ZsJShiYdVITo_MOu4HgG-bm0jTsTyiGoKI4EpOk5Cv3ZlokNSPJIrlFs241zAfMYAfjL5xod1QUIjJlfbLUS1CscjNPUaM79dQK97iGrq5RiDlD4ppWZyAT8lds0hbpE7jcIoi1Uk3ABKMKU9vqVniY4G__9KSf9CW2zfwy4u-uLPBwfOrP0gu326Oi2JB0QW6HO1YQP6xluHgg67c7EAY934fTXjc6RXfri8FpPCoEDo8s7cHVyiE_kmeGWZlsXp0NdUlvTOsqQX5s3XhWvXl29nHugjE5KjC6bhznZ7UhY3A","token_type":"bearer","expires_in":1199,"scope":"read
        write","internalUser":false,"jti":"d5c9af41-a3b0-4b4f-a788-431276cd7981"}'
  recorded_at: Thu, 10 Jan 2019 12:00:00 GMT
- request:
    method: get
    uri: https://gateway.t3.nomis-api.hmpps.dsd.io/custodyapi/api/offenders/nomsId/G2911GD
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - authorisation_header
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"nomsId":"G2911GD","offenderId":1425331,"firstName":"IMANJAH","surname":"AHMONIS","dateOfBirth":"1974-06-05","gender":{"code":"M","description":"Male"},"ethnicity":{"code":"W3","description":"White:
        Gypsy or Irish Traveller"},"aliases":[{"nomsId":"G2911GD","firstName":"AJENCHAB","surname":"GEH","dateOfBirth":"1974-05-25","gender":{"code":"M","description":"Male"},"offenderId":2012185},{"nomsId":"G2911GD","firstName":"AJENCHAB","surname":"MYRURO","dateOfBirth":"1974-08-24","gender":{"code":"M","description":"Male"},"offenderId":2012186,"identifiers":[{"identifierType":"DL","identifier":"WHART/707154/E99YP","sequenceNumber":1,"createdDateTime":"2014-06-27T11:19:06.336756"}]},{"nomsId":"G2911GD","firstName":"AJENCHAB","surname":"FATEN","dateOfBirth":"1974-12-04","gender":{"code":"M","description":"Male"},"offenderId":2012187},{"nomsId":"G2911GD","firstName":"AJENCHAB","middleNames":"ELYSSONE","surname":"DARNARD","dateOfBirth":"1984-06-29","gender":{"code":"M","description":"Male"},"offenderId":2012188},{"nomsId":"G2911GD","firstName":"AJENCHAB","surname":"AIDIO","dateOfBirth":"1984-06-21","gender":{"code":"M","description":"Male"},"offenderId":2012189}],"bookings":[{"bookingId":1175317,"bookingNo":"26133A","offenderId":1425331,"rootOffenderId":1425331,"agencyLocation":{"agencyLocationId":"LEI","description":"LEEDS
        (HMP)","longDescription":"HMP LEEDS","agencyLocationType":"INST","districtCode":"YORK","bailOffice":false,"housingLev1Code":"WING","housingLev2Code":"LAND","housingLev3Code":"CELL","housingLev4Code":"NULL","serviceRequired":false,"active":true,"areaCode":"YORK","nomsRegionCode":"YOHUM","geographicRegionCode":"YORK","cjitCode":"E00LE00"},"livingUnit":{"internalLocationId":12806,"internalLocationCode":"041","agencyLocationId":"LEI","internalLocationType":"CELL","description":"LEI-B-3-041","capacity":2,"parentInternalLocationId":12766,"active":true,"listSequence":41,"cnaNumber":1,"certified":true,"unitType":"NA","operationCapacity":2,"numberOfOccupants":2,"trackingFlag":"N"},"activeFlag":true,"bookingStatus":"O","inOutStatus":"IN","statusReason":"CRT-CRT","startDate":"2017-02-14","bookingSequence":1,"lastMovement":{"bookingId":1175317,"offenderId":1425331,"sequenceNumber":1,"movementDateTime":"2017-04-05T16:39:00","movementTypeCode":"ADM","movementReasonCode":"V","movementReasonDescription":"Convicted
        Unsentenced","movementDirection":"IN","active":false,"fromAgencyLocation":{"agencyLocationId":"BRADCC","description":"Bradford
        Crown Court","longDescription":"Bradford Crown Court","agencyLocationType":"CRT","jurisdictionCode":"CC","bailOffice":false,"serviceRequired":false,"active":true,"areaCode":"53","nomsRegionCode":"YOHUM","cjitCode":"C00BR00"},"toAgencyLocation":{"agencyLocationId":"LEI","description":"LEEDS
        (HMP)","longDescription":"HMP LEEDS","agencyLocationType":"INST","districtCode":"YORK","bailOffice":false,"housingLev1Code":"WING","housingLev2Code":"LAND","housingLev3Code":"CELL","housingLev4Code":"NULL","serviceRequired":false,"active":true,"areaCode":"YORK","nomsRegionCode":"YOHUM","geographicRegionCode":"YORK","cjitCode":"E00LE00"},"unemploymentPay":false,"escapeRecapture":false,"inMovementReasonCode":"V","transportation":false}},{"bookingId":870483,"bookingNo":"M47239","offenderId":1425331,"rootOffenderId":1425331,"agencyLocation":{"agencyLocationId":"OUT","description":"OUTSIDE","longDescription":"OUTSIDE
        JURISDICTION","agencyLocationType":"INST","districtCode":"FD","deactivationDate":"2008-05-29","jurisdictionCode":"CC","bailOffice":true,"listSeq":2,"housingLev1Code":"BED","propertyLev1Code":"BOX","serviceRequired":false,"active":false,"disabilityAccessCode":"WHEEL","cjitCode":"TEST"},"activeFlag":false,"bookingStatus":"C","inOutStatus":"OUT","statusReason":"REL-CR","startDate":"2014-05-22","endDate":"2015-10-23","bookingSequence":2,"lastMovement":{"bookingId":870483,"offenderId":1425331,"sequenceNumber":4,"movementDateTime":"2015-12-03T08:56:00","movementTypeCode":"REL","movementReasonCode":"CR","movementReasonDescription":"CONDITIONAL
        RELEASE","movementDirection":"OUT","active":false,"fromAgencyLocation":{"agencyLocationId":"LHI","description":"LINDHOLME
        (HMP)","longDescription":"HMP LINDHOLME","agencyLocationType":"INST","districtCode":"YORK","bailOffice":false,"housingLev[...]
- request:
    method: get
    uri: https://gateway.t3.nomis-api.hmpps.dsd.io/custodyapi/api/offenders/offenderId/1425331/releaseDetails?bookingId=1175317
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - authorisation_header
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '[{"bookingId":1175317,"releaseDate":"2019-05-17","movementReasonType":"REL","movementReasonCode":"CR","movementReasonDescription":"CONDITIONAL
        RELEASE","eventId":335871979,"eventStatus":"SCH","autoReleaseDate":"2019-06-25","verified":false}]'
  recorded_at: Thu, 10 Jan 2019 12:00:00 GMT
recorded_with: VCR 4.0.0
