<aside class="app-related-items" role="complementary">
  <h3 class="govuk-heading-m">
    More on handovers
  </h3>

  <ul class="govuk-list">
    <li>
      <%= link_to 'View handover guidance on EQuiP',
                  translate(:equip_url),
                  class: %w[govuk-link govuk-link--no-visited-state],
                  target: '_blank' %>
    </li>
    <li>
      <a class="govuk-link govuk-link--no-visited-state" href="#">
        Choose how often we send you emails to remind you about handovers
      </a>
    </li>
  </ul>
</aside>
