<aside class="app-related-items" role="complementary">
  <h3 class="govuk-heading-m">
    More on handovers
  </h3>

  <ul class="govuk-list">
    <li>
      <a class="govuk-link govuk-link--no-visited-state" href="#">
        View handover guidance on EQuiP
      </a>
    </li>
    <li>
      <a class="govuk-link govuk-link--no-visited-state" href="#">
        Choose how often we send you emails to remind you about handovers
      </a>
    </li>
  </ul>
</aside>
