<% description = capture do %>
  <% if @pom_view %>
    <p>
      These cases have passed their handover date and are missing COM details on NDelius. You could:
    </p>
  
    <ul class="govuk-list govuk-list--bullet">
      <li>notify the local divisional unit (LDU) that COM allocation is overdue</li>
      <li>if there's no response, discuss the allocation with your manager</li>
    </ul>
  <% else %>
    <p>
      These cases have passed their handover date and are missing COM details on NDelius.
    </p>
  <% end %>
<% end %>

<%=
  render 'case_list',
    heading: 'COM allocation overdue',
    description_html: description,
    handover_data: @filtered_handover_cases,
    table_class: 'com-allocation-overdue',
    no_cases_message: 'No handover cases missing COM details',
    hide_com_details: true,
    show_handover_date_highlight: nil,
    com_allocation_view: true
%>