<% information = capture do %>
  <span class="card__heading--large"><%= @summary.fetch(:in_progress_handover_count) %></span>
  <p>handovers in progress</p>
<% end %>

<div class="card--caseload card-total">
  <% if local_assigns[:with_link] %>
    <%= link_to information, prison_show_pom_tab_path(@prison.code, @pom.staff_id, :handover, anchor: 'in-progress-handovers') %>
  <% else %>
    <%= information %>
  <% end %>
</div>
