<% information = capture do %>
  <span class="card__heading--large"><%= @summary.fetch(:pending_handover_count) %></span>
  <p>upcoming <%= 'handover'.pluralize(@summary.fetch(:pending_handover_count)) %></p>
<% end %>

<div class="card--caseload card-total">
  <% if local_assigns[:with_link] %>
    <%= link_to information, upcoming_prison_handovers_path(@prison.code, pom: 'user'), class: 'govuk-link--no-visited-state' %>
  <% else %>
    <%= information %>
  <% end %>
</div>
