<span class="app-badge-list">
  <% if offender.indeterminate_sentence? %>
    <span id="prisoner-case-type" class="govuk-tag govuk-tag--purple">Indeterminate</span>
  <% else %>
    <span id="prisoner-case-type" class="govuk-tag govuk-tag--blue">Determinate</span>
  <% end %>

  <% if offender.responsibility_override? %>
    <span id="responsibility-override-badge" class="govuk-tag govuk-tag--yellow">Overridden</span>
  <% end %>

  <% if offender.active_vlo? || offender.victim_liaison_officers.any? %>
    <span id="vlo-contact-badge" class="govuk-tag govuk-tag--red">VLO contact</span>
  <% end %>

  <% if offender.recalled? %>
    <span id="recall-badge" class="govuk-tag govuk-tag--grey">Recall</span>
  <% end %>

  <% if offender.approaching_parole? %>
    <span id="parole-badge" class="govuk-tag govuk-tag--grey">Parole eligible</span>
  <% end %>

  <% status = offender.early_allocation_state %>
  <% if EarlyAllocationHelper::EARLY_ALLOCATION_STATUSES.key?(status) %>
    <span id="early-allocation-badge" class="govuk-tag govuk-tag--blue">
      Early allocation <%= EarlyAllocationHelper::EARLY_ALLOCATION_STATUSES.fetch(status) %>
    </span>
  <% end %>

  <% if offender.restricted_patient? %>
    <span id="restricted-patient-badge" class="govuk-tag govuk-tag--purple">Restricted patient</span>
  <% end %>

  <% if @prison.womens? && offender.complexity_level.present? %>
    <span id="complexity-badge" class="govuk-tag govuk-tag--blue">
      <%= offender.complexity_level.titleize %> complexity
    </span>
  <% end %>
</span>
