<div class="govuk-!-margin-top-1">
  <table class="govuk-table">
    <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <td class="govuk-table__header" scope="row">Prisoner</td>
      <td class="govuk-table__cell"></td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell govuk-!-width-one-half">Name</td>
      <td class="govuk-table__cell table_cell__left_align govuk-!-width-one-half"><%= @prisoner.full_name %></td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell govuk-!-width-one-half">Date of birth</td>
      <td class="govuk-table__cell table_cell__left_align govuk-!-width-one-half"><%= format_date(@prisoner.date_of_birth) %></td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">Prisoner number</td>
      <td class="govuk-table__cell table_cell__left_align">
        <%= @prisoner.offender_no %>
        <%= link_to 'View NOMIS profile', new_nomis_profile_path(@prisoner.offender_no), class: "govuk-link pull-right", target: "_blank" %>
    </tr>
    </tbody>
  </table>
</div>
