<div class="govuk-!-margin-top-1">
  <table class="govuk-table">
    <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <td class="govuk-table__header" scope="row">Prisoner</td>
      <td class="govuk-table__cell"></td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell govuk-!-width-one-half">Name</td>
      <td class="govuk-table__cell table_cell__left_align govuk-!-width-one-half"><%= @prisoner.full_name %></td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell hmpps-table-cell__key">Prisoner number</td>
      <td class="govuk-table__cell table_cell__left_align hmpps-table-cell__key"><%= @prisoner.offender_no %></td>
    </tr>
    <tr class="govuk-table__row">
        <td class="govuk-table__cell hmpps-table-cell__key">Nationality</td>
        <td class="govuk-table__cell table_cell__left_align hmpps-table-cell__key"><%= @prisoner.nationalities %></td>
      </tr>
    </tbody>
  </table>
