<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <p class="govuk-heading-s">Case mix by tier</p>
    <ul class="govuk-list" id="key_list">
      <li><span class="key fill-dark-blue"></span><span>Tier A</span></li>
      <li><span class="key fill-light-blue"></span><span>Tier B</span></li>
      <li><span class="key fill-pink"></span><span>Tier C</span></li>
      <li><span class="key fill-light-pink"></span><span>Tier D</span></li>
      <li><span class="key fill-grey"></span><span>Tier N/A</span></li>
    </ul>
  </div>
</div>
