  <table class="govuk-table">
    <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <td class="govuk-table__header govuk-!-width-one-half" scope="row">Current POM</td>
      <td class="govuk-table__cell govuk-!-width-one-half"></td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">Name</td>
      <td class="govuk-table__cell table_cell__left_align">Green, Samantha</td>
    </tr>
    <tr class="govuk-table__row">
        <td class="govuk-table__cell">Grade</td>
        <td class="govuk-table__cell table_cell__left_align">Probation POM</td>
      </tr>
    </tbody>
  </table>
