<div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="govuk-error-summary">
  <h2 class="govuk-error-summary__title" id="error-summary-title">
    There is a problem
  </h2>
  <div class="govuk-error-summary__body">
    <ul class="govuk-list govuk-error-summary__list">
      <% errors.messages.reject {|_f, m| m.empty? }.each do |field, message| %>
        <li>
          <a href="#<%= field %>" <%= "data-turbolinks=false" if local_assigns[:disable_refresh] %>><%= message.first %></a>
        </li>
      <% end %>
    </ul>
  </div>
</div>