<div class="govuk-grid-row pagination">
  <div class="govuk-grid-column-one-half">
    <div class="govuk-grid-row">
      <% if data.current_page < 3 %>
        <%= paginate data, window: 5 - data.current_page %>&nbsp;
      <% else %>
        <%= paginate data, window: 2 %>&nbsp;
      <% end %>
    </div>
  </div>
  <div class="govuk-grid-column-one-half result-count">
    <%= page_entries_info data %>
  </div>
</div>

