
<form class="search-form">
  <div class="govuk-form-group">
    <label class="govuk-label" for="q">
      Search
    </label>
    <input class="govuk-input search-input" id="q" name="q" type="text" value="<%= @q %>" autofocus="true">

    <button class="govuk-button">Search</button>
  </div>
</form>
