<div class="govuk-warning-text">
  <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
  <span class="govuk-warning-text__text govuk-!-font-weight-regular">
    <span class="govuk-visually-hidden">Warning</span>
    This person has VLO contact details saved on NDelius. Check this information and then
    <%= link_to 'add it to this service',
                new_prison_prisoner_victim_liaison_officer_path(prison_code, offender_no),
                class: 'govuk-link' %>.
  </span>
</div>
