---
http_interactions:
- request:
    method: get
    uri: https://prison-api-dev.prison.service.justice.gov.uk/api/staff/485926/caseloads
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - authorisation_header
  response:
    status:
      code: 200
      message:
    headers:
      content-type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '[{"caseLoadId":"LEI","description":"Leeds (HMP)","type":"INST","caseloadFunction":"GENERAL","currentlyActive":true},{"caseLoadId":"NWEB","description":"Nomis-web
        Application","type":"APP","caseloadFunction":"GENERAL","currentlyActive":false}]'
  recorded_at: Fri, 07 Jun 2024 08:36:44 GMT
recorded_with: VCR 6.2.0
