---
http_interactions:
- request:
    method: post
    uri: https://prisoner-offender-search-dev.prison.service.justice.gov.uk/prisoner-search/prisoner-numbers?include-restricted-patients=true
    body:
      encoding: UTF-8
      string: '{"prisonerNumbers":["G7266VD"]}'
    headers:
      Authorization:
      - authorisation_header
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message:
    headers:
      content-type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '[{"prisonerNumber":"G7266VD","pncNumber":"12/502134E","pncNumberCanonicalShort":"12/502134E","pncNumberCanonicalLong":"2012/502134E","croNumber":"381006/13W","bookingId":"1073602","bookNumber":"V91471","firstName":"OMISTIUS","lastName":"ANNOLE","dateOfBirth":"1994-09-26","gender":"Male","ethnicity":"White:
        Eng./Welsh/Scot./N.Irish/British","youthOffender":true,"maritalStatus":"Single-not
        married/in civil partnership","religion":"No Religion","nationality":"British","status":"ACTIVE
        IN","lastMovementTypeCode":"CRT","lastMovementReasonCode":"PS","inOutStatus":"IN","prisonId":"LEI","prisonName":"Leeds
        (HMP)","cellLocation":"D-2-037","aliases":[],"alerts":[{"alertType":"X","alertCode":"XNR","active":true,"expired":false},{"alertType":"R","alertCode":"ROH","active":true,"expired":false},{"alertType":"P","alertCode":"PC2","active":true,"expired":false}],"csra":"High","category":"B","legalStatus":"SENTENCED","imprisonmentStatus":"LASPO_DR","imprisonmentStatusDescription":"EDS
        LASPO Discretionary Release","mostSeriousOffence":"Robbery","recall":false,"indeterminateSentence":false,"sentenceStartDate":"2016-05-28","releaseDate":"2039-12-04","confirmedReleaseDate":"2039-12-04","sentenceExpiryDate":"2045-01-03","licenceExpiryDate":"2045-01-09","nonDtoReleaseDate":"2040-01-27","nonDtoReleaseDateType":"CRD","receptionDate":"2016-02-20","paroleEligibilityDate":"2032-05-25","conditionalReleaseDate":"2040-01-27","locationDescription":"Leeds
        (HMP)","restrictedPatient":false}]'
  recorded_at: Mon, 11 Jul 2022 16:03:34 GMT
- request:
    method: post
    uri: https://api-dev.prison.service.justice.gov.uk/api/offender-assessments/CATEGORY?activeOnly=true&latestOnly=true&mostRecentOnly=true
    body:
      encoding: UTF-8
      string: '["G7266VD"]'
    headers:
      Authorization:
      - authorisation_header
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message:
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '[{"bookingId":1073602,"offenderNo":"G7266VD","classificationCode":"B","classification":"Cat
        B","assessmentCode":"CATEGORY","assessmentDescription":"Categorisation","cellSharingAlertFlag":false,"assessmentDate":"2017-02-24","nextReviewDate":"2018-02-23","approvalDate":"2017-02-24","assessmentAgencyId":"LEI","assessmentStatus":"A","assessmentSeq":7,"assessorId":459540,"assessorUser":"WQV54Y"}]'
  recorded_at: Mon, 11 Jul 2022 16:03:34 GMT
- request:
    method: post
    uri: https://api-dev.prison.service.justice.gov.uk/api/movements/offenders?latestOnly=false&movementTypes=ADM&movementTypes=TRN
    body:
      encoding: UTF-8
      string: '["G7266VD"]'
    headers:
      Authorization:
      - authorisation_header
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message:
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '[{"offenderNo":"G7266VD","createDateTime":"2016-02-20T13:55:31.201162","fromAgency":"LEEDMC","fromAgencyDescription":"Leeds
        Magistrates Court","toAgency":"LEI","toAgencyDescription":"Leeds (HMP)","fromCity":"","toCity":"","movementType":"ADM","movementTypeDescription":"Admission","directionCode":"IN","movementDate":"2016-04-14","movementTime":"13:54:00","movementReason":"Unconvicted
        Remand"},{"offenderNo":"G7266VD","createDateTime":"2016-12-01T15:23:33.229763","fromAgency":"LEI","fromAgencyDescription":"Leeds
        (HMP)","toAgency":"DNI","toAgencyDescription":"Doncaster (HMP)","fromCity":"","toCity":"","movementType":"ADM","movementTypeDescription":"Admission","directionCode":"IN","movementDate":"2016-12-27","movementTime":"15:23:00","movementReason":"Transfer
        In from Other Establishment"},{"offenderNo":"G7266VD","createDateTime":"2016-12-01T11:08:57.810944","fromAgency":"LEI","fromAgencyDescription":"Leeds
        (HMP)","toAgency":"DNI","toAgencyDescription":"Doncaster (HMP)","fromCity":"","toCity":"","movementType":"TRN","movementTypeDescription":"Transfers","directionCode":"OUT","movementDate":"2017-01-22","movementTime":"11:07:00","movementReason":"Normal
        Transfer"},{"offenderNo":"G7266VD","createDateTime":"2017-01-20T14:49:30.888598","fromAgency":"DNI","fromAgencyDescription":"Doncaster
        (HMP)","toAgency":"LEI","toAgencyDescription":"Leeds (HMP)","fromCity":"","toCity":"","movementType":"ADM","movementTypeDescription":"Admission","directionCode":"IN","movementDate":"2017-03-13","movementTime":"14:49:00","movementReason":"Transfer
        Via Court"}]'
  recorded_at: Mon, 11 Jul 2022 16:03:34 GMT
- request:
    method: post
    uri: https://prisoner-search-dev.prison.service.justice.gov.uk/prisoner-search/prisoner-numbers?include-restricted-patients=true
    body:
      encoding: UTF-8
      string: '{"prisonerNumbers":["G7266VD"]}'
    headers:
      Authorization:
      - authorisation_header
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message:
    headers:
      content-type:
      - application/json
    body:
      encoding: ASCII-8BIT
 [...]
- request:
    method: post
    uri: https://prison-api-dev.prison.service.justice.gov.uk/api/offender-assessments/CATEGORY?activeOnly=true&latestOnly=true&mostRecentOnly=true
    body:
      encoding: UTF-8
      string: '["G7266VD"]'
    headers:
      Authorization:
      - authorisation_header
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message:
    headers:
      content-type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '[{"bookingId":1073602,"offenderNo":"G7266VD","classificationCode":"B","classification":"Cat
        B","assessmentCode":"CATEGORY","assessmentDescription":"Categorisation","cellSharingAlertFlag":false,"assessmentDate":"2017-02-24","nextReviewDate":"2018-02-23","approvalDate":"2017-02-24","assessmentAgencyId":"LEI","assessmentStatus":"A","assessmentSeq":7,"assessorId":459540,"assessorUser":"WQV54Y"}]'
  recorded_at: Thu, 12 Oct 2023 12:23:16 GMT
- request:
    method: post
    uri: https://prison-api-dev.prison.service.justice.gov.uk/api/movements/offenders?latestOnly=false&movementTypes=ADM&movementTypes=TRN
    body:
      encoding: UTF-8
      string: '["G7266VD"]'
    headers:
      Authorization:
      - authorisation_header
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message:
    headers:
      content-type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '[...]
