---
http_interactions:
- request:
    method: get
    uri: https://api-dev.prison.service.justice.gov.uk/api/staff/roles/LEI/role/POM
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - authorisation_header
      Page-Limit:
      - '100'
      Page-Offset:
      - '0'
  response:
    status:
      code: 200
      message:
    headers:
      Content-Type:
      - application/json
      Total-Records:
      - '41'
      Page-Offset:
      - '0'
      Page-Limit:
      - '100'
    body:
      encoding: ASCII-8BIT
      string: '[{"staffId":485636,"firstName":"JENNY","lastName":"DUCKETT","status":"ACTIVE","agencyId":"LEI","agencyDescription":"Leeds
        (HMP)","fromDate":"2019-01-22","position":"PRO","positionDescription":"Prison
        Officer","role":"POM","roleDescription":"Prison Offender Manager","scheduleType":"FT","scheduleTypeDescription":"Full
        Time","hoursPerWeek":35},{"staffId":485752,"firstName":"ROSS","lastName":"JONES","status":"ACTIVE","agencyId":"LEI","agencyDescription":"Leeds
        (HMP)","fromDate":"2019-01-22","position":"PO","positionDescription":"Probation
        Officer","role":"POM","roleDescription":"Prison Offender Manager","scheduleType":"PT","scheduleTypeDescription":"Part
        Time","hoursPerWeek":20},{"staffId":485758,"firstName":"MOIC","lastName":"INTEGRATION-TESTS","status":"ACTIVE","agencyId":"LEI","agencyDescription":"Leeds
 [...]
- request:
    method: get
    uri: https://api-dev.prison.service.justice.gov.uk/api/staff/485636
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - authorisation_header
  response:
    status:
      code: 200
      message:
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"staffId":485636,"firstName":"JENNY","lastName":"DUCKETT","status":"ACTIVE"}'
  recorded_at: Mon, 11 Jul 2022 16:03:31 GMT
- request:
    method: get
    uri: https://prison-api-dev.prison.service.justice.gov.uk/api/staff/roles/LEI/role/POM
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - authorisation_header
      Page-Limit:
      - '100'
      Page-Offset:
      - '0'
  response:
    status:
      code: 200
      message:
    headers:
      content-type:
      - application/json
      total-records:
      - '41'
      page-offset:
      - '0'
      page-limit:
      - '100'
    body:
      encoding: ASCII-8BIT
      string: '[{"staffId":485636,"firstName":"JENNY","lastName":"DUCKETT","status":"ACTIVE","agencyId":"LEI","agencyDescription":"Leeds
        (HMP)","fromDate":"2019-01-22","position":"PRO","positionDescription":"Prison
        Officer","role":"POM","roleDescription":"Prison Offender Manager","scheduleType":"FT","scheduleTypeDescription":"Full
        Time","hoursPerWeek":35},{"staffId":485752,"firstName":"ROSS","lastName":"JONES","status":"[...]
- request:
    method: get
    uri: https://prison-api-dev.prison.service.justice.gov.uk/api/staff/485636
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - authorisation_header
  response:
    status:
      code: 200
      message:
    headers:
      content-type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"staffId":485636,"firstName":"JENNY","lastName":"DUCKETT","status":"ACTIVE"}'
  recorded_at: Thu, 12 Oct 2023 12:22:36 GMT
recorded_with: VCR 6.2.0
