---
http_interactions:
- request:
    method: get
    uri: https://community-api-secure.test.delius.probation.hmpps.dsd.io/secure/offenders/nomsNumber/A5194DY/all
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - authorisation_header
  response:
    status:
      code: 200
      message: null
    headers:
      content-type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"offenderId":2500387823,"firstName":"Harry","middleNames":["Micky"],"surname":"Kane","dateOfBirth":"1993-07-28","gender":"Male","otherIds":{"crn":"X349420","nomsNumber":"A5194DY","mostRecentPrisonerNumber":"38500A"},"contactDetails":{"addresses":[{"from":"2020-07-13","noFixedAbode":false,"notes":"Comment
        added by SYSTEM USER on 09/06/2022 at 11:47\nType and Type Verified were set
        by an automated script based upon the current accommodation Personal Circumstances
        record on  ( 09-JUN-2022 11:47 )","buildingName":"Tottenham Hotspur Stadium","streetName":"High
        Street","town":"Lodon","postcode":"N17 1BB","status":{"code":"M","description":"Main"},"typeVerified":false,"createdDatetime":"2020-07-13T09:30:33","lastUpdatedDatetime":"2022-06-09T11:47:51"}]},"offenderProfile":{"offenderLanguages":{},"offenderDetails":"Some
        notes","remandStatus":"Bail - Conditional","previousConviction":{}},"offenderAliases":[{"id":"2500079684","dateOfBirth":"1996-04-11","firstName":"Dele","surname":"Alli","gender":"Male"},{"id":"2500079685","dateOfBirth":"1986-12-26","firstName":"Hugo","surname":"Lloris","gender":"Male"}],"offenderManagers":[{"trustOfficer":{"forenames":"TestUpdate01Forname","surname":"TestUpdate01Surname"},"staff":{"code":"N07A263","forenames":"TestUpdate01Forname","surname":"TestUpdate01Surname","unallocated":false},"partitionArea":"National
        Data","softDeleted":false,"team":{"code":"N07T01","description":"OMU A","localDeliveryUnit":{"code":"N07NPSA","description":"N07
        Division"},"district":{"code":"N07NPSA","description":"N07 Division"},"borough":{"code":"N07100","description":"N07
        Cluster 1"}},"probationArea":{"code":"N07","description":"NPS London","nps":true},"fromDate":"2022-08-17","active":true,"allocationReason":{"code":"RO","description":"Allocated
        To Responsible Officer"}}],"softDeleted":false,"currentDisposal":"1","partitionArea":"National
        Data","currentRestriction":false,"restrictionMessage":"This is a restricted
        offender record. Please contact a system administrator","currentExclusion":false,"exclusionMessage":"You
        are excluded from viewing this offender record. Please contact a system administrator","currentTier":"B-2","activeProbationManagedSentence":true}'
  recorded_at: Wed, 17 Aug 2022 11:36:42 GMT
- request:
    method: get
    uri: https://community-api-secure.test.delius.probation.hmpps.dsd.io/secure/offenders/nomsNumber/A5194DY/registrations
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - authorisation_header
  response:
    status:
      code: 200
      message: null
    headers:
      content-type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"registrations":[{"registrationId":2500128757,"offenderId":2500387823,"register":{"code":"5","description":"Public
        Protection"},"type":{"code":"MAPP","description":"MAPPA"},"riskColour":"Red","startDate":"2020-11-02","reviewPeriodMonths":3,"notes":"Please
        Note - Category 3 offenders require multi-agency management at Level 2 or
        3 and should not be recorded at Level 1.\nStill here","registeringTeam":{"code":"N07T01","description":"OMU
        A"},"registeringOfficer":{"code":"N07A065","forenames":"Andy Ramond","surname":"Adamczak","unallocated":false},"registeringProbationArea":{"code":"N07","description":"NPS
        London"},"registerLevel":{"code":"M2","description":"MAPPA Level 2"},"registerCategory":{"code":"M1","description":"MAPPA
        Cat 1"},"warnUser":false,"active":false,"endDate":"2020-12-17","deregisteringTeam":{"code":"N07T02","description":"OMU
        B"},"deregisteringOfficer":{"code":"N07A066","forenames":"Andy","surname":"Aemmer","unallocated":false},"deregisteringProbationArea":{"code":"N07","description":"NPS
        London"},"numberOfPreviousDeregistrations":1}]}'
  recorded_at: Wed, 17 Aug 2022 11:36:42 GMT
- request:
    method: get
    uri: https://community-api-secure.test.delius.probation.hmpps.dsd.io/secure/offenders/nomsNumber/A5194DY/risk/resourcing/latest
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - authorisation_header
  response:
    status:
      code: 200
      message: null
    headers:
      content-type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"decision":{"date":"2021-04-09","code":"R","description":"Retained
        / Enhanced Resourcing"},"enhancedResourcing":true,"relatedConvictionId":2500365819}'
  recorded_at: Wed, 17 Aug 2022 11:36:42 GMT
recorded_with: VCR 6.0.0
