---
http_interactions:
- request:
    method: get
    uri: https://community-api-secure.test.delius.probation.hmpps.dsd.io/secure/offenders/nomsNumber/A5194DY/allOffenderManagers
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - authorisation_header
  response:
    status:
      code: 200
      message: null
    headers:
      content-type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '[{"staffCode":"N07A263","staffId":2500066719,"isResponsibleOfficer":true,"isPrisonOffenderManager":false,"isUnallocated":false,"staff":{"forenames":"TestUpdate01Forname","surname":"TestUpdate01Surname","email":"test-update-01-email@example.org
        "},"team":{"code":"N07T01","description":"OMU A","localDeliveryUnit":{"code":"N07NPSA","description":"N07
        Division"},"teamType":{"code":"N07NPS1","description":"N07 LDU 1"},"district":{"code":"N07NPSA","description":"N07
        Division"},"borough":{"code":"N07100","description":"N07 Cluster 1"},"startDate":"2014-08-29"},"probationArea":{"probationAreaId":1500001006,"code":"N07","description":"NPS
        London","organisation":{"code":"NPS","description":"National Probation Service"}},"fromDate":"2022-08-17","grade":{"code":"NPSM","description":"NPS
        - PO"}},{"staffCode":"MDIA054","staffId":2500130524,"isResponsibleOfficer":false,"isPrisonOffenderManager":true,"isUnallocated":false,"staff":{"forenames":"Sheila","surname":"Hancock","email":"officer@gov.uk","phoneNumber":"0123411278"},"team":{"code":"MDIPOM","description":"Prison
        Offender Managers","localDeliveryUnit":{"code":"MDIPOM","description":"Prison
        Offender Managers"},"teamType":{"code":"MDIPOM","description":"Prison Offender
        Managers"},"district":{"code":"MDIPOM","description":"Prison Offender Managers"},"borough":{"code":"MDIPOM","description":"Prison
        Offender Managers"},"startDate":"2019-12-05"},"probationArea":{"probationAreaId":2500002202,"code":"MDI","description":"Moorland
        (HMP & YOI)","organisation":{"code":"PRI","description":"Establishment Providers"},"institution":{"institutionId":97,"isEstablishment":true,"code":"MDIHMP","description":"Moorland
        (HMP & YOI)","institutionName":"Moorland (HMP & YOI)","establishmentType":{"code":"E","description":"Prison"},"nomsPrisonInstitutionCode":"MDI"}},"fromDate":"2021-10-18"}]'
  recorded_at: Wed, 17 Aug 2022 11:35:13 GMT
recorded_with: VCR 6.0.0
