<div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="govuk-error-summary">
  <h2 class="govuk-error-summary__title" id="error-summary-title">
    There is a problem
  </h2>
  <div class="govuk-error-summary__body">
    <ul class="govuk-list govuk-error-summary__list">
      <% if errors[:welsh_offender] %>
        <li><a href="#case_information_welsh_offender_Yes"><%= errors[:welsh_offender].first %></a></li>
      <% end %>

      <% if errors[:case_allocation] %>
        <li><a href="#case_information_case_allocation_NPS"><%= errors[:case_allocation].first %></a></li>
      <% end %>

      <% if errors[:tier] %>
        <li><a href="#case_information_tier_A"><%= errors[:tier].first %></a></li>
      <% end %>
    </ul>
  </div>
</div>
