<% content_for :title, t('.title') %>

<%= link_to "Back", @back_path,
            class: "govuk-back-link govuk-!-margin-top-0 govuk-!-margin-bottom-6" %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= render partial: "form", locals: {
          heading: t('.heading', name: @prisoner.full_name_ordered),
          action: prison_prisoner_case_information_path(@prison.code, @prisoner.offender_no),
          method: :put,
          buttons: [
            { text: 'Update' }
          ]
    } %>
  </div>
</div>
