<%= link_to "Back", 'javascript:history.back()', class: "govuk-back-link govuk-!-margin-top-0 govuk-!-margin-bottom-6" %>

<h1 class="govuk-heading-xl govuk-!-margin-top-4 govuk-!-margin-bottom-4">Case information</h1>
<h2 class="govuk-heading-m"><%= @prisoner.full_name %> - <%= @prisoner.offender_no %></h2>
<p class="govuk-!-margin-bottom-8">You can find this information in NDelius.</p>

<%= render :partial => "form", :locals => {
      :action => prison_case_information_path(@prison.code),
      :method => :put,
      :buttons => [{class:'' , text: 'Update'}]
} %>
