<% content_for :title, t('.title') %>

<%= link_to "Back", missing_information_prison_prisoners_path(sort: params[:sort], page: params[:page] || 1),
            class: "govuk-back-link govuk-!-margin-top-0 govuk-!-margin-bottom-6" %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= render partial: "form", locals: {
          heading: t('.heading', name: @prisoner.full_name_ordered),
          action: prison_prisoner_case_information_path(@prison.code, @prisoner.offender_no),
          method: :post,
          buttons: [
            { text: 'Save' },
            { text: 'Save and allocate', name: 'save_and_allocate', class: 'govuk-button--secondary' }
          ]
    } %>
  </div>
</div>
