<div class="govuk-grid-column govuk-body">
  <div class="govuk-breadcrumbs">
    <ul class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href= <%= help_path('dashboard') %>>Help</a>
      </li>
      <li class="govuk-breadcrumbs__list-item" aria-current="page">Add staff members and start making allocations</li>
    </ul>
    <br>
  </div>

  <div class="govuk-section-break--visible">
    <h1 class="govuk-heading-xl">Add staff members and start making allocations</h1>
    <nav class="gem-c-contents-list" role="navigation">

      <h2 class="gem-c-contents-list__title">Contents</h2>

      <ol class="gem-c-contents-list__list">
        <% HelpStep.all.each do |help_step| %>
          <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
            <% if help_step == current_help_step %>
              <%= help_step.heading %>
            <% else %>
              <%= link_to help_step.heading, help_step.url %>
            <% end %>
          </li>
        <% end %>
      </ol>
    </nav>
  </div>
</div>
