<div class="govuk-grid-row dashboard-row">
  <h1 class="govuk-heading-l govuk-!-margin-bottom-5">Help</h1>
  <div class="govuk-grid-column govuk-body">
    <aside class="govuk-section-break--visible">
      <p>Contents</p>
      <ol class="govuk-list--number">
        <li><a href="help" class="govuk-link">Get started with the allocations service</a></li>
        <li><a href="help_step1" class="govuk-link">List everyone using the service</a></li>
        <li><a href="help_step2" class="govuk-link">Set up access in Digital Prison Services</a></li>
        <li><a href="help_step3" class="govuk-link">Set up POMs in NOMIS</a></li>
        <li><a href="help_step4" class="govuk-link">Update POM profiles</a></li>
        <li><a href="help_step5" class="govuk-link">Update prisoner information</a></li>
        <li><a href="help_step6" class="govuk-link">Start making allocations</a></li>
      </ol>
    </aside>
  </div>
</div>
