<h1 class="govuk-heading-l govuk-!-margin-bottom-5">SPO task: Update prisoner information</h1>

<p>This task can’t be started until task 3 has been completed</p> 


<p>You will need to update information about some prisoners in the allocations service before you can start allocating POMs. This involves getting information from nDelius and recording:</p>  

<ul>
	<li>Whether the service provider is NPS or CRC</li>
	<li>The prisoner’s tier </li>
	<li> Whether the prisoner has a Welsh address (this is because Wales is piloting the new OMiC policy before it is rolled out across England)</li>
</ul> 


<p>Sign in to <a href="https://moic.service.justice.gov.uk">https://moic.service.justice.gov.uk</a> and follow these steps: </p>

<ul>
	<li>go to ‘update case information’ </li>
	<li>Select ‘edit’ by the name of the prisoner whose information needs updating</li> 
	<li> Answer the questions and ‘Save’ </li>
</ul>

