<%= render :partial => "content", locals: { page: 6 } %>

<h1 class="part-title">Start making allocations</h1>
<div class="govuk-inset-text">
  Senior Probation Officer / Head of Offender Management Unit (SPO/HoOMU) task
</div>

<div class="govuk-grid-column">
  <div class="govuk-body">

    <p>You are now ready to start making allocations.</p>

    <p>Initially, the allocations you make in the service will need to mirror existing allocations.
      For example, if an offender manager is working with a prisoner, then you will need to assign
      that same offender manager to the prisoner.</p>

    <p>Sign in to <%= link_to("https://moic.service.justice.gov.uk", "https://moic.service.justice.gov.uk") %> and follow these steps:</p>

    <ul>
      <li>go to ‘make new allocations’</li>
      <li>Select ‘allocate’ by the name of the prisoner you are allocating</li>
      <li>Choose the prison or probation POM who will work with this prisoner</li>
      <li>Click ‘Complete allocation’</li>
    </ul>

    <p>The POM will receive an email to let them know about the allocation.</p>


    <p>Tell us what you think</p>

    <p>Your feedback is extremely valuable. It’ll help us make changes and improve things.</p>

    <p>For feedback and any questions about our service, please email us on <%= mail_to("moic@digital.justice.gov.uk") %></p>
  </div>
</div>
