<h1 class="govuk-heading-l govuk-!-margin-bottom-5">SPO task: List everyone who will use the service</h1>

<p>1. Make a list of the names, job roles and quantum IDs of everyone who will use the service. This usually includes: </p>

<ul> 
	<li>Senior probation officers (SPOs)</li> 
	<li>Case admin staff in the Offender Management Unit </li>
	<li>Local System Admin (LSA) </li>
</ul>


<p>You also need the email addresses and working pattern for all prison offender managers. 

<p>You can use this <a href="xx">staff template (excel, xx kb)</a> to gather this information. 


<p>2. Send the completed list of names, roles and email addresses to: 

<ul> 
	<li>the allocations team<a href="mailto:moic@digital.justice.gov.uk">moic@digital.justice.gov.uk </a> </li>
	<li>your LSA so that they can complete task 2 of this guide.</li>
</ul>
