<div class="govuk-grid-column govuk-body">
  <div class="govuk-breadcrumbs">
    <ul class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item" aria-current="page">Help</li>
    </ul>
    <br>
  </div>
  <div class="govuk-grid-column">
    <h1 class="govuk-heading-xl">Help</h1>
    <div>
      <p class="govuk-body">See how to <%= link_to 'set up new users', help_step0_path %>
        or <%= link_to 'contact us', contact_us_path %> if you need help with something else.</p>
    </div>
  </div>
</div>
