<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l govuk-!-margin-bottom-5">Help</h1>
      <li><%= link_to 'Getting set up', help_step0_path, class: "govuk-link" %>
      <li><%= link_to "Updating case information", update_case_information_path,class: "govuk-link" %></li>
      <li><%= link_to "Missing cases", missing_cases_path,class: "govuk-link" %></li>
  </div>
</div>