<% current_help_step = HelpStep.find(5) %>
<%= render :partial => "content", locals: { current_help_step: current_help_step } %>
<h1 class="part-title">Update prisoner information</h1>
<div class="govuk-inset-text">
  This task should be completed by a head of offender management delivery (HOMD), head of offender management services
  (HOMS) or case administrator after

  <%=
    link_to(
      'POMs have been added to NOMIS',
      'help_step3'
    )
  %>.
</div>

<div class="govuk-grid-column">
  <div class="govuk-body">
    <p>
      You need to manually add some information from NDelius for some prisoners if it cannot be transferred into the
      system automatically.
    </p>

    <p>
      To do this, go to the

      <%=
        link_to(
          'Add missing details',
          'prisons/LEI/prisoners/missing_information'
        )
      %>

      part of the service. Enter the data requested for each prisoner in the list.
    </p>

    <%= render :partial => "next_link", locals: { url: help_step6_path, next_page_title: 'Start making allocations'} %>
  </div>
</div>
