<h1 class="govuk-heading-l govuk-!-margin-bottom-5">SPO task: Start making allocations</h1>

<p>You are now ready to start making allocations.</p> 

<p>Initially, the allocations you make in the service will need to mirror existing allocations. For example, if an offender manager is working with a prisoner, then you will need to assign that same offender manager to the prisoner.</p> 

<p>Sign in to <a href="https://moic.service.justice.gov.uk">https://moic.service.justice.gov.uk</a> and follow these steps: </p>

<ul>
	<li>go to ‘make new allocations’ </li>
	<li>Select ‘allocate’ by the name of the prisoner you are allocating</li> 
	<li>Choose the prison or probation POM who will work with this prisoner</li> 
	<li>Click ‘Complete allocation’ </li>
</ul>

<p> The POM will receive an email to let them know about the allocation. </p>

<h2> Tell us what you think </h2>

<p>Your feedback is extremely valuable. It’ll help us make changes and improve things.</p>

<p>For feedback and any questions about our service, please email us on <a href="mailto:moic@digital.justice.gov.uk">moic@digital.justice.gov.uk</a> </p>
