<% current_help_step = HelpStep.find(4) %>

<% content_for :title, "Update POM profiles – Digital Prison Services" %>

<%= render :partial => "content", locals: { current_help_step: current_help_step } %>
<h1 class="part-title">Update POM profiles</h1>
<div class="govuk-inset-text">
  This task should be completed by a head of offender management delivery (HOMD), head of offender management services
  (HOMS) or a case administrator after

  <%=
    link_to(
      'everyone who will use the service has been added to Digital Prison Services',
      'help_step2'
    )
  %>.
</div>
<div class="govuk-grid-column">
  <div class="govuk-body">
    <p>Before cases can be allocated, you must set POMs’ availability and working pattern in the allocation service.</p>

    <p>To do this:</p>

    <ol class="govuk-list--number">
      <li>
        Go to

        <%=
          link_to(
            'Manage your staff',
            'prisons/LEI/poms'
          )
        %>
      </li>

      <li>Select a POM's name</li>
      <li>Choose to change their working pattern</li>
      <li>Set their working pattern and status and then save</li>
    </ol>

    <p>
      If someone is ready to be allocated cases immediately, set their status to active. If someone will be absent from
      work for a while, set their status to inactive.
    </p>

    <%=
      render :partial => "next_link", locals: { url: help_step5_path, next_page_title: 'Update prisoner information'}
    %>
  </div>
</div>
