<h1 class="govuk-heading-l govuk-!-margin-bottom-5">LSA task: Set up access to the new service in Digital Prison Services</h1>


<p>All SPOs, OMU case admin staff and POMs need to have the right roles assigned to them in order to access the allocations service.</p>

<p>Sign in to <a href="https://notm.service.hmpps.dsd.io/">Digital Prison Services</a>


<ul>
	<li>Select ‘Admin and utilities’</li>
	<li>Select ‘Manage access roles’</li>
	<li>Search for the staff member you want to set up by entering their user ID</li> 
	<li>When you have found the staff member, click ‘Edit’</li>
	<li>Click ‘Add role’</li>
	<li>Click ‘Choose new role’ to see a list of available user roles. Senior Probation Officers and Case Admins need to have the ‘Allocation manager’ role  and Prison Offender Managers need to have the ‘Allocation case manager’ role </li>
</ul>
