<%= render :partial => "missing_cases_content", locals: { page: 0 } %>

<div class="govuk-grid-column">
  <div class="govuk-body">
    <h1 class="part-title">No POM allocation needed</h1>

    <p>
      Not every case will appear in this service. Sometimes that’s because a POM does not need
      to be allocated.
    </p>

    <p>Before contacting us, check the offender is:</p>

    <ul>
      <li>Convicted  -  prisoners on remand do not need a POM</li>
      <li>Over 18 years old - prisoners under 18 do not need a POM</li>
      <li>Not a civil case</li>
      <li>Sentenced - prisoners must have an earliest release date or parole review date in NOMIS</li>
    </ul>

    <p>
      For more information about how case responsibility is changing under OMiC,
      see: <%= link_to("https://intranet.noms.gsi.gov.uk/corporate/offender-management-model",
                       "https://intranet.noms.gsi.gov.uk/corporate/offender-management-model") %>
    </p>

    <p>You can also <%=link_to("Contact us", contact_us_path) %> if you think a case is missing.</p>
  </div>

  <%= render :partial => "next_link", locals: { url: repatriated_path, next_page_title: 'Repatriated cases'} %>
</div>
