<%= render :partial => "missing_cases_content", locals: { page: 1 } %>

<div class="govuk-grid-column">
  <div class="govuk-body">
    <h1 class="part-title">Repatriated cases</h1>

    <p>
      It is likely that prisoners who have returned to the UK to serve their sentence will not
      have an nDelius record. You need to refer these cases to HMP Wandsworth Offender Management
      Unit (OMU).
    </p>

    <p>HMP Wandsworth OMU will contact the ‘local’ NPS court team and ask them to create an Ndelius
      record. The court team will also follow the Case Allocation System (CAS) which includes
      assessing the risk of serious recidivism (RSR).
    </p>
  </div>

  <%= render :partial => "next_link", locals: { url: scottish_northern_irish_path, next_page_title: 'Scottish and Northern Irish prisoners'} %>
</div>
