<%= render :partial => "case_info_content", locals: { page: 0 } %>

<div class="govuk-grid-column">
  <div class="govuk-body">
    <h1 class="part-title">Overview</h1>
    <p>The allocations service uses information stored in both NOMIS and nDelius. Occasionally there are conflicts in matching prisoner’s records, or key information is missing.</p>

    <p>It’s important that the information is kept up to date in both NOMIS and nDelius so that we make correct case matches and calculate accurate handover dates.</p>
  </div>
  <div>
    <ul class="pagination-next">
      <li class="gem-c-pagination__item gem-c-pagination__item--next">
        <a href=<%= updating_ndelius_path %> class="gem-c-pagination__link" rel="next">
          <span class="gem-c-pagination__link-title">
            <svg class="gem-c-pagination__link-icon" xmlns="http://www.w3.org/2000/svg" height="13" width="17" viewBox="0 0 17 13">
              <path fill="currentColor" d="m10.107-0.0078125-1.4136 1.414 4.2926 4.293h-12.986v2h12.896l-4.1855 3.9766 1.377 1.4492 6.7441-6.4062-6.7246-6.7266z"></path>
            </svg>
            <span class="gem-c-pagination__link-text">
              Next
            </span>
          </span>
          <span class="gem-c-pagination__link-divider visually-hidden">:</span>
          <span class="gem-c-pagination__link-label">Updating nDelius</span>
        </a>
      </li>
    </ul>
  </div>
</div>
