<% content_for :title, "What's new – Digital Prison Services" %>

<div class="govuk-grid-column govuk-body">
  <div class="govuk-breadcrumbs">
    <ul class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item" aria-current="page">What's new</li>
    </ul>
    <br>
  </div>

  <div class="govuk-grid-column">
    <div class="govuk-body">
      <h1 class="govuk-heading-xl">What's new</h1>

      <section class="govuk-!-margin-bottom-9">
        <h2 class="govuk-heading-l">Release notes: 5 December 2022</h2>
        <h3 class="govuk-heading-m">Enhanced feature</h3>
        <p>Improvements to the process when a COM allocation is overdue.</p>
      </section>

      <section class="govuk-!-margin-bottom-9">
        <h2 class="govuk-heading-l">Release notes: 25 November 2022</h2>
        <h3 class="govuk-heading-m">Enhanced feature</h3>
        <p>Update upcoming and in-progress handovers pages to reflect policy changes.</p>
      </section>

      <section class="govuk-!-margin-bottom-9">
        <h2 class="govuk-heading-l">Release notes: 17 November 2022</h2>
        <h3 class="govuk-heading-m">New feature</h3>
        <p>Provide POMs dealing with handovers the ability to see a check list of tasks
        that they can interact with and the ability to see an updated status when POM completes a task.</p>
      </section>

      <section class="govuk-!-margin-bottom-9">
        <h2 class="govuk-heading-l">Release notes: 2 November 2022</h2>
        <h3 class="govuk-heading-m">Enhanced feature</h3>
        <p>Improved confirmation messages when allocating.</p>
      </section>

      <section class="govuk-!-margin-bottom-9">
        <h2 class="govuk-heading-l">Release notes: 20 October 2022</h2>
        <h3 class="govuk-heading-m">Enhanced feature</h3>
        <p>Changes to reflect changes in policy in relation to handovers between POM and COM.</p>
        <p>Improvements to the Make Allocations screen.</p>
      </section>

      <section class="govuk-!-margin-bottom-9">
        <h2 class="govuk-heading-l">Release notes: 24 August 2022</h2>
        <h3 class="govuk-heading-m">New feature</h3>
        <p>Addition of upcoming handovers view.</p>
      </section>

      <section class="govuk-!-margin-bottom-9">
        <h2 class="govuk-heading-l">Release notes: 8 April 2021</h2>
        <h3 class="govuk-heading-m">New feature</h3>
        <p>Ability to change the complexity of need for female offenders.</p>
      </section>

      <section class="govuk-!-margin-bottom-9">
        <h2 class="govuk-heading-l">Release notes: 1 April 2021</h2>
        <h3 class="govuk-heading-m">Enhanced feature</h3>
        <p>Improvements to the HOMD view of staff case load for female estates.</p>
      </section>

      <section class="govuk-!-margin-bottom-9">
        <h2 class="govuk-heading-l">Release notes: 29 March 2021</h2>
        <h3 class="govuk-heading-m">Enhanced feature</h3>
        <p>The offender category labels are now the ones users are more familiar with.</p>
      </section>

      <section class="govuk-!-margin-bottom-9">
        <h2 class="govuk-heading-l">Release notes: 11 February 2021</h2>
        <h3 class="govuk-heading-m">New feature</h3>
        <p>
          Prisoner Offender Managers can now complete early allocation assessments via the prisoner profile pages in the
          Manage POM cases service.
        </p>
        <p>
          An early allocation assessment has 2 important uses:
        </p>
        <ul>
          <li>
            <strong>If the case has 18 months or less until release</strong> - a completed assessment will be submitted
            and reviewed for possible early allocation to the community.
          </li>
          <li>
            <strong>If the case has 18 months or more until release</strong> - a completed assessment will be added to
            the case record (capturing any notes, concerns or important information).
          </li>
        </ul>
        <p>
          For more information on the early allocation process,
          <a href="https://equip-portal.rocstac.com/CtrlWebIsapi.dll/?__id=webDiagram.show&map=0%3A9A63E167DE4B400EA07F81A9271E1944&dgm=4F984B45CBC447B1A304B2FFECABB777">search for 'early allocation' in EQuiP</a>.
        </p>
      </section>

      <section class="govuk-!-margin-bottom-9">
        <h2 class="govuk-heading-l">Release notes: 8 September 2020</h2>
        <h3 class="govuk-heading-m">New feature</h3>
        <p>Case information pages for POM and SPO users now identify recall cases. If a case
          is a recall you will see a 'Recall' badge.</p>

        <p>OMiC policy rules for recall cases have been applied to these cases. </p>

        <p>Notify us of any issues you find by using the 'Contact us'
          form which is linked to at the bottom of every page.</p>
      </section>

      <section>
        <h2 class="govuk-heading-l">Release notes: 23 November 2020</h2>
        <h3 class="govuk-heading-m">New feature</h3>
        <p>Victim liaison officer details can now be manually added to
          the profile of the prisoner, you'll find this under
          VICTIM LIAISON OFFICER (VLO) section of the page.</p>

        <p>You are able to add, edit and delete these entries plus make multiple
          contacts if required. Notify us of any issues you find by using the
          'Contact us' form which is linked to at the bottom of every page. </p>
      </section>
    </div>
  </div>
</div>
