<% description = capture do %>
  <p>
    The community probation team accepted the early allocation referral.
  </p>
  <p>
    The case handover date has been updated. The community probation team will allocate a COM to take responsibility for this case early.
  </p>
<% end %>
<%= render 'case_history/case_history',
           title: 'Early allocation decision recorded',
           description: description,
           object: decision_eligible
%>