<section class="govuk-tabs__panel" id="active">
  <h2 class="govuk-heading-m">Probation POM</h2>
  <%= render 'poms_table' %>

  <h2 class="govuk-heading-m">Prison POM</h2>
  <%= render 'poms_table' %>

</section>
