
<table class="govuk-table responsive tablesorter">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="col"><a
        class='table-sorter__link' href='#'>Prisoner name</a></th>
      <th class="govuk-table__header" scope="col">Prisoner number</th>
      <th class="govuk-table__header" scope="col">
        <a class="table-sorter__link" href="#">Release date/Parole Eligibility</a></th>
      <th class="govuk-table__header" scope="col">
        <a class="table-sorter__link" href="#">Tier</a></th>
      <th class="govuk-table__header" scope="col">
        <a class="table-sorter__link" href="#">Allocation date</a></th>
      <th class="govuk-table__header" scope="col">
        <a class="table-sorter__link" href="#">Role</a></th>
      <th class="govuk-table__header sorter-false" scope="col">Action</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <td aria-label="Prisoner name" class="govuk-table__cell ">N/A</td>
      <td aria-label="Prisoner number" class="govuk-table__cell ">N/A</td>
      <td aria-label="Release date" class="govuk-table__cell ">N/A</td>
      <td aria-label="Tier" class="govuk-table__cell ">N/A</td>
      <td aria-label="Allocation date" class="govuk-table__cell ">N/A</td>
      <td aria-label="Role" class="govuk-table__cell ">N/A</td>
      <td aria-label="Action" class="govuk-table__cell "><a
          href="">View</a></td>
    </tr>
  </tbody>
</table>
