<table class="govuk-table responsive tablesorter">
  <thead class="govuk-table__head">
  <tr class="govuk-table__row">
    <th class="govuk-table__header" scope="col">POM</th>
    <th class="govuk-table__header" scope="col">POM type</th>
    <th class="govuk-table__header" scope="col">Total cases</th>
  </tr>
  </thead>
  <tbody class="govuk-table__body">
    <% poms.each_with_index do |pom, i| %>
      <tr class="govuk-table__row pom_row_<%= i %>">
        <td aria-label="POM" class="govuk-table__cell "><%= link_to full_name_ordered(pom), prison_pom_path(@prison.code, nomis_staff_id: pom.staff_id) %></td>
        <td aria-label="POM type" class="govuk-table__cell "><%= grade(pom) %></td>
        <td aria-label="Total cases" class="govuk-table__cell govuk-!-font-weight-bold"><%= pom.allocations.count %></td>
      </tr>
    <% end %>
  </tbody>
</table>
