<section class="govuk-tabs__panel" id="inactive">
  <h2 class="govuk-heading-m">Probation POM</h2>
  <%= render 'probation_poms_table' %>

  <h2 class="govuk-heading-m">Prison POM</h2>
  <%= render 'prison_poms_table' %>


</section>
