<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <div class="govuk-tabs" data-module="govuk-tabs">
      <h2 class="govuk-tabs__title">Parole Cases</h2>
      <p class="govuk-body"><%= t('parole.upcoming.pom') %></p>

      <% if @parole_cases.empty? %>
        <h2 class="govuk-heading-l">No cases approaching parole </h2>
      <% else %>
        <%= render partial: 'shared/pagination', locals: { data: @parole_cases } %>
        <%= render 'shared/parole_table' %>
        <%= render partial: 'shared/pagination', locals: { data: @parole_cases } %>
      <% end %>
    </div>
  </div>
</div>
