<th class="govuk-table__header" scope="col" <%= sort_aria('last_name') %>>
  <a href="<%= sort_link('last_name') %>">
    Case
  </a>
  <%= sort_arrow('last_name') %>
</th>
<th class="govuk-table__header" scope="col">
  Update needed
</th>
<th class="govuk-table__header" scope="col">
  Action
</th>
