<th class="govuk-table__header" scope="col">
  <a href="<%= sort_link('case') %>">
    Case
  </a>
  <%= sort_arrow('case') %>
</th>
<th class="govuk-table__header" scope="col">
  <a href="<%= sort_link('updates_needed') %>">
    Updates needed
  </a>
  <%= sort_arrow('updates_needed') %>
</th>
<th class="govuk-table__header" scope="col">
    Action
</th>