<% content_for :title, "New cases – Digital Prison Services" %>

<% content_for :switcher do %>
  <%= render '/layouts/prison_switcher' %>
<% end %>

<% if @pom.blank? %>
  <h2 class="govuk-heading-l">No new cases </h2>
<% else %>
  <h2 class="govuk-heading-l">New cases</h2>
  <%= render 'shared/caseload_table', header_partial: 'shared/caseload_headers', collection_partial: 'shared/caseload', collection: @new_cases %>
<% end %>
