<% description = capture do %>
  <p>
    Request for COM to be allocated as this person has less than 10 months to serve sent to <%= assign_com_less_than_10_months.email %>
  </p>
<% end %>
<%= render 'case_history/email_history',
           title: 'System generated email sent',
           description: description,
           object: assign_com_less_than_10_months %>
