<% description = capture do %>
  <p>
    Reminder that COM allocation still needed after handover sent to <%= urgent_pipeline_to_community.email %>
  </p>
<% end %>
<%= render 'case_history/email_history',
           title: 'System generated email sent',
           description: description,
           object: urgent_pipeline_to_community %>
