<li class='<%= "govuk-pagination__item #{'govuk-pagination__item--current' if page.current?}" %>'>
  <%= link_to page, url,
              class: 'govuk-link govuk-pagination__link govuk-link--no-visited-state',
              remote: remote, rel: page.rel,
              'aria-label': "Page #{page}",
              'aria-current': ('page' if page.current?) %>
</li>
