<% content_for :title, "There is a problem with the service – Digital Prison Services" %>

<h1 class="govuk-heading-l">Sorry, there is a problem with the <br/> POM caseload service</h1>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds govuk-body-l">
    <p>Try again later.</p>
    <p>
      <%= link_to 'Go to the Digital Prison Services homepage', ENV['DIGITAL_PRISON_SERVICE_HOST'] %>
    </p>
  </div>
</div>

<script>
  // Make error details available to Google Tag Manager
  dataLayer.push({ "event": "error_page", "error_page_type": "500 Internal Server Error" });
</script>
