<% content_for :title, "You do not have permission to view this – Digital Prison Services" %>

<h1 class="govuk-heading-l">You do not have permission to access this</h1>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <div class="govuk-body">
      Check you:
    </div>
    <ul>
      <li>
        <div class="govuk-body">
          are <%= link_to 'signed into the right prison', root_path %>, if you work in more than one
        </div>
      </li>
      <li>
        <div class="govuk-body">
          have the right role in NOMIS and Digital Prison Services – your local system administrator can help you with this <%=link_to 'using this guide', help_step0_path %>
        </div>
      </li>
      <li>
        <div class="govuk-body">
          used the right web address, for example if you copied and pasted it from an email or used a bookmark
        </div>
      </li>
    </ul>
    <div class="govuk-body">
      <%= link_to 'Contact the allocation service team', contact_us_path %> if you think another problem is causing this error or <%= link_to 'go to the allocation service’s dashboard', root_path %>.
    </div>
  </div>
</div>

<script>
  // Make error details available to Google Tag Manager
  dataLayer.push({ "event": "error_page", "error_page_type": "401 Unauthorized" });
</script>
