<li>As the complexity of need level has been lowered to from high to <%= updated_complexity_level %>, a keyworker will be allocated to this case.</li>
<li>You may also need to review the POM for this case and reallocate if necessary.</li>
