<h1>Status#index</h1>
<div>
  <p class="status"><%= @status['status'] %></p>
  <p class="postgres_version"><%= @status['postgresVersion'] %></p>
  <button class="govuk-button">This is a button component</button>
</div>
