<% content_for :title, "Delete VLO details – Digital Prison Services" %>

<%= form_for(@vlo,
             url: prison_prisoner_victim_liaison_officer_path(@prison.code, @vlo.nomis_offender_id, @vlo.id),
             method: :delete,
             builder: GOVUKDesignSystemFormBuilder::FormBuilder) do |f| %>

  <div class="govuk-form-group">
    <fieldset class="govuk-fieldset" aria-describedby="changed-name-hint">
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
        <h1 class="govuk-fieldset__heading">
          Are you sure you want to remove<br /><%= @vlo.full_name_ordered %> as a VLO for this person?
        </h1>
      </legend>
      <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="delete-yes" name="delete_confirm" type="radio" value="yes">
          <label class="govuk-label govuk-radios__label" for="delete-yes">
            Yes
          </label>
        </div>
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="delete-no" name="delete_confirm" type="radio" value="no">
          <label class="govuk-label govuk-radios__label" for="delete-no">
            No
          </label>
        </div>
      </div>
    </fieldset>
  </div>

  <%= f.submit "Confirm", role: "button", draggable: "false", class: "govuk-button" %>
  <%= link_to 'Cancel', 'javascript:history.back()', class: 'govuk-link cancel-button' %>

<% end %>
