<% content_for :title, "Change VLO details – Digital Prison Services" %>

<%= link_to "Back", 'javascript:history.back()', class: "govuk-back-link govuk-!-margin-top-0 govuk-!-margin-bottom-6" %>

<h2 class="govuk-heading-l">Change VLO details</h2>

<%= render 'form',
           vlo: @vlo,
           form_action: :patch,
           form_url: prison_prisoner_victim_liaison_officer_path(@prison.code, @vlo.nomis_offender_id, @vlo.id) %>
