<% content_for :switcher do %>
  <%= render '/layouts/prison_switcher' %>
<% end %>

<%= render 'shared/backlink', page: @referrer %>

<h2 class="govuk-heading-l">Edit Victim Liaison Officer (VLO) contact details</h2>

<%= render 'form',
           vlo: @vlo,
           form_action: :patch,
           form_url: prison_prisoner_victim_liaison_officer_path(@prison.code, @vlo.nomis_offender_id, @vlo.id) %>