<% content_for :title, "Add VLO contact details – Digital Prison Services" %>

<% content_for :switcher do %>
  <%= render '/layouts/prison_switcher' %>
<% end %>

<%= link_to "Back", 'javascript:history.back()', class: "govuk-back-link govuk-!-margin-top-0 govuk-!-margin-bottom-6" %>

<h2 class="govuk-heading-l">Add Victim Liaison Officer (VLO) contact details</h2>

<%= render 'form',
           vlo: @vlo,
           form_action: :post,
           form_url: prison_prisoner_victim_liaison_officers_path(@prison.code, @vlo.nomis_offender_id) %>