---
http_interactions:
- request:
    method: get
    uri: https://complexity-of-need-staging.hmpps.service.justice.gov.uk/v1/complexity-of-need/offender-no/S0004FT/history
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - authorisation_header
  response:
    status:
      code: 200
      message:
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"cbc0cd4dcf8af50d731b9f5af974796e"
    body:
      encoding: UTF-8
      string: '[{"offenderNo":"S0004FT","level":"high","createdTimeStamp":"2021-03-18T14:35:20.046Z","sourceSystem":"hardcoded-oauth-client-id","notes":"Happy
        Feet"},{"offenderNo":"S0004FT","level":"high","createdTimeStamp":"2021-03-18T14:34:58.551Z","sourceUser":"SDICKS_GEN","sourceSystem":"hardcoded-oauth-client-id"
        },{"offenderNo":"S0004FT","level":"low","createdTimeStamp":"2021-03-18T14:33:28.364Z","sourceUser":"SDICKS_GEN","sourceSystem":"hardcoded-oauth-client-id","notes":"Happy
        Feet"}]'
  recorded_at: Mon, 22 Mar 2021 14:00:34 GMT
recorded_with: VCR 6.0.0
