---
http_interactions:
- request:
    method: post
    uri: https://complexity-of-need-staging.hmpps.service.justice.gov.uk/v1/complexity-of-need/multiple/offender-no
    body:
      encoding: UTF-8
      string: '["G0276VC","T0000FT"]'
    headers:
      Authorization:
      - authorisation_header
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: null
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"f0e4c0f9dedb9e540073627233186e30"
    body:
      encoding: ASCII-8BIT
      string: '[{"offenderNo":"G0276VC","level":"high","createdTimeStamp":"2021-03-11T11:05:10.493Z","sourceSystem":"testing","active":true},{"offenderNo":"T0000FT","level":"high","createdTimeStamp":"2021-03-17T20:54:55.902Z","sourceSystem":"hardcoded-oauth-client-id","active":true}]'
  recorded_at: Tue, 09 Aug 2022 10:29:51 GMT
- request:
    method: post
    uri: https://complexity-of-need-staging.hmpps.service.justice.gov.uk/v1/complexity-of-need/multiple/offender-no
    body:
      encoding: UTF-8
      string: '["G0276VC","T0000FT","X00887XX"]'
    headers:
      Authorization:
      - authorisation_header
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: null
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"f0e4c0f9dedb9e540073627233186e30"
    body:
      encoding: ASCII-8BIT
      string: '[{"offenderNo":"G0276VC","level":"high","createdTimeStamp":"2021-03-11T11:05:10.493Z","sourceSystem":"testing","active":true},{"offenderNo":"T0000FT","level":"high","createdTimeStamp":"2021-03-17T20:54:55.902Z","sourceSystem":"hardcoded-oauth-client-id","active":true}]'
  recorded_at: Tue, 09 Aug 2022 10:29:51 GMT
recorded_with: VCR 6.0.0
