---
http_interactions:
- request:
    method: post
    uri: https://complexity-of-need-staging.hmpps.service.justice.gov.uk/v1/complexity-of-need/multiple/offender-no
    body:
      encoding: UTF-8
      string: '[["G0276VC","T0000FT"]]'
    headers:
      Authorization:
      - authorisation_header
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message:
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"1c21177a461d62be7a85feeb3e3b1cef"
    body:
      encoding: UTF-8
      string: '[{"offenderNo":"G0276VC","level":"high","createdTimeStamp":"2021-03-11T11:05:10.493Z","sourceSystem":"testing"},{"offenderNo":"T0000FT","level":"high","createdTimeStamp":"2021-03-17T20:54:55.902Z","sourceSystem":"hardcoded-oauth-client-id"}]'
  recorded_at: Mon, 22 Mar 2021 14:00:33 GMT
- request:
    method: post
    uri: https://complexity-of-need-staging.hmpps.service.justice.gov.uk/v1/complexity-of-need/multiple/offender-no
    body:
      encoding: UTF-8
      string: '[["G0276VC","T0000FT","X00887XX"]]'
    headers:
      Authorization:
      - authorisation_header
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message:
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"1c21177a461d62be7a85feeb3e3b1cef"
    body:
      encoding: UTF-8
      string: '[{"offenderNo":"G0276VC","level":"high","createdTimeStamp":"2021-03-11T11:05:10.493Z","sourceSystem":"testing"},{"offenderNo":"T0000FT","level":"high","createdTimeStamp":"2021-03-17T20:54:55.902Z","sourceSystem":"hardcoded-oauth-client-id"}]'
  recorded_at: Mon, 22 Mar 2021 14:00:33 GMT
recorded_with: VCR 6.0.0
