---
http_interactions:
- request:
    method: get
    uri: https://complexity-of-need-staging.hmpps.service.justice.gov.uk/v1/complexity-of-need/offender-no/G0276VC
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - authorisation_header
  response:
    status:
      code: 200
      message: null
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"97177497315a0ed823a95e895504f919"
    body:
      encoding: ASCII-8BIT
      string: '{"offenderNo":"G0276VC","level":"high","createdTimeStamp":"2021-03-11T11:05:10.493Z","sourceSystem":"testing","active":true}'
  recorded_at: Tue, 09 Aug 2022 10:29:51 GMT
- request:
    method: get
    uri: https://complexity-of-need-staging.hmpps.service.justice.gov.uk/v1/complexity-of-need/offender-no/T0276VC
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - authorisation_header
  response:
    status:
      code: 404
      message: null
    headers:
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"message":"No record found for that offender"}'
  recorded_at: Tue, 09 Aug 2022 10:29:51 GMT
recorded_with: VCR 6.0.0
