---
http_interactions:
- request:
    method: get
    uri: https://complexity-of-need-staging.hmpps.service.justice.gov.uk/v1/complexity-of-need/offender-no/S0004FT/history
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - authorisation_header
  response:
    status:
      code: 200
      message: null
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"7314fba6505eadb6a6e1380ae1824cf0"
    body:
      encoding: ASCII-8BIT
      string: '[{"offenderNo":"S0004FT","level":"high","createdTimeStamp":"2021-03-18T14:35:20.046Z","sourceUser":"SDICKS_GEN","sourceSystem":"hardcoded-oauth-client-id","notes":"Happy
        Feet","active":true},{"offenderNo":"S0004FT","level":"high","createdTimeStamp":"2021-03-18T14:34:58.551Z","sourceUser":"SDICKS_GEN","sourceSystem":"hardcoded-oauth-client-id","notes":"Happy
        Feet","active":true},{"offenderNo":"S0004FT","level":"low","createdTimeStamp":"2021-03-18T14:33:28.364Z","sourceUser":"SDICKS_GEN","sourceSystem":"hardcoded-oauth-client-id","notes":"Happy
        Feet","active":true}]'
  recorded_at: Tue, 09 Aug 2022 10:29:52 GMT
recorded_with: VCR 6.0.0
