---
http_interactions:
- request:
    method: get
    uri: https://complexity-of-need-staging.hmpps.service.justice.gov.uk/v1/complexity-of-need/offender-no/G0276VC
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - authorisation_header
  response:
    status:
      code: 200
      message:
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"099ff33b8455fec81022a47b948e6906"
    body:
      encoding: UTF-8
      string: '{"offenderNo":"G0276VC","level":"high","createdTimeStamp":"2021-03-11T11:05:10.493Z","sourceSystem":"testing"}'
  recorded_at: Mon, 22 Mar 2021 14:00:32 GMT
- request:
    method: get
    uri: https://complexity-of-need-staging.hmpps.service.justice.gov.uk/v1/complexity-of-need/offender-no/T0276VC
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - authorisation_header
  response:
    status:
      code: 404
      message:
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"message":"No record found for that offender"}'
  recorded_at: Mon, 22 Mar 2021 14:00:32 GMT
recorded_with: VCR 6.0.0
