---
http_interactions:
- request:
    method: put
    uri: https://complexity-of-need-staging.hmpps.service.justice.gov.uk/v1/complexity-of-need/offender-no/S0005FT/inactivate
    body:
      encoding: UTF-8
      string: '{"cache":false}'
    headers:
      Authorization:
      - authorisation_header
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: null
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"c12f59d5f0f2a96d6ec85372303cfd89"
    body:
      encoding: ASCII-8BIT
      string: '{"offenderNo":"S0005FT","level":"high","createdTimeStamp":"2022-08-09T10:29:51.814Z","sourceUser":"SDICKS_GEN","sourceSystem":"manage-pom-cases-api-3","notes":"Happy
        Feet","active":false}'
  recorded_at: Tue, 09 Aug 2022 10:29:52 GMT
- request:
    method: get
    uri: https://complexity-of-need-staging.hmpps.service.justice.gov.uk/v1/complexity-of-need/offender-no/S0005FT
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - authorisation_header
  response:
    status:
      code: 404
      message: null
    headers:
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"message":"No record found for that offender"}'
  recorded_at: Tue, 09 Aug 2022 10:29:52 GMT
recorded_with: VCR 6.0.0
