---
http_interactions:
- request:
    method: post
    uri: https://complexity-of-need-staging.hmpps.service.justice.gov.uk/v1/complexity-of-need/offender-no/S0005FT
    body:
      encoding: UTF-8
      string: '{"level":"high","sourceUser":"SDICKS_GEN","notes":"Happy Feet"}'
    headers:
      Authorization:
      - authorisation_header
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message:
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"8d1e331cbb8423f63a2b1da3ede2dd9f"
    body:
      encoding: UTF-8
      string: '{"offenderNo":"S0005FT","level":"high","createdTimeStamp":"2021-03-22T14:00:33.220Z","sourceUser":"SDICKS_GEN","sourceSystem":"hardcoded-oauth-client-id","notes":"Happy
        Feet"}'
  recorded_at: Mon, 22 Mar 2021 14:00:33 GMT
- request:
    method: get
    uri: https://complexity-of-need-staging.hmpps.service.justice.gov.uk/v1/complexity-of-need/offender-no/S0005FT
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - authorisation_header
  response:
    status:
      code: 200
      message:
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"8d1e331cbb8423f63a2b1da3ede2dd9f"
    body:
      encoding: UTF-8
      string: '{"offenderNo":"S0005FT","level":"high","createdTimeStamp":"2021-03-22T14:00:33.220Z","sourceUser":"SDICKS_GEN","sourceSystem":"hardcoded-oauth-client-id","notes":"Happy
        Feet"}'
  recorded_at: Mon, 22 Mar 2021 14:00:33 GMT
recorded_with: VCR 6.0.0
