<div class="govuk-error-summary" aria-labelledby="com-error-summary-title" role="alert" tabindex="-1" data-module="govuk-error-summary">
  <h2 class="govuk-error-summary__title" id="com-error-summary-title">
    COM allocation overdue
  </h2>
  <div class="govuk-error-summary__body">
    <% if offender.ldu_email_address.present? %>
      <p class="govuk-body">
        Contact <%= offender.ldu_name %>
        on <%= mail_to offender.ldu_email_address, offender.ldu_email_address, class: %w[govuk-link govuk-link--no-visited-state govuk-!-font-weight-bold] %>
        to see if a COM can be allocated.
      </p>
    <% else %>
      <p class="govuk-body">
        We do not know which LDU will be responsible for this person.
      </p>
      <p class="govuk-body govuk-!-margin-top-2">
        Check their <%= link_to 'full Digital Prison Services profile', digital_prison_service_profile_path(offender.offender_no), class: %w[govuk-link govuk-link--no-visited-state govuk-!-font-weight-bold], target: '_blank' %>
        to see where they were sentenced and then try contacting the LDU for that area.
      </p>
    <% end %>
  </div>
</div>
