<% content_for :title, "Add complexity of need level – Digital Prison Services" %>

<%= link_to "Back", missing_information_prison_prisoners_path(sort: params[:sort], page: params[:page] || 1),
            class: "govuk-back-link govuk-!-margin-top-0 govuk-!-margin-bottom-6" %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= render 'complexity_level_form' %>
  </div>
</div>
