<% content_for :title, "Add complexity of need level – Digital Prison Services" %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= render 'complexity_level_form' %>
  </div>
  <%= render 'shared/prisoner_info_sidebar', prisoner: @prisoner %>
</div>