<% content_for :title, "Case information – Digital Prison Services" %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= render 'delius_information_form' %>
  </div>
  <%= render 'shared/prisoner_info_sidebar', prisoner: @prisoner %>
</div>
