/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 */

// Import GOV.UK Design System first
@import "gov_uk";

// Then application specific components
@import "case_mix";
@import "case_type_badge";
@import "hmpps_header";
@import "notification";
@import "pages";
@import "pagination";
@import "prison_switcher";
@import "prisoner";
@import "search";
@import "service_banner";
@import "sorting";
@import "tables";
@import "timeline";
@import "vlo_information";
@import "cards";
@import 'handovers';
@import 'task_list';

a:visited {
    color: #005ea5;
}
 .no-bottom-margin {
     margin-bottom: 0;
 }

 .cancel-button {
    line-height: 38px;
    margin-left: 20px;
 }

 .govuk-header__navigation-item a {
     color: white !important;
 }

.govuk-table__cell-error {
  border-left: 5px solid #d4351c;
  padding-left: 10px;
}

.govuk-table__cell-error-value {
  color: #d4351c;
  font-weight: bold;
}

.sidebar-panel {
  border-top: 10px solid #1d70b8;
  padding-top: 10px;
}

// Stop images from being wider than their parent container
img {
  max-width: 100%;
  height: auto;
}

@media(min-width: 1250px) {
  .govuk-width-container, .moj-primary-navigation__container {
    max-width: 1170px;
  }
}
