@use "gov_uk" as *;

.card {
  margin-bottom: 40px;
  background: govuk-colour("white");
  border: 1px solid #d9dadb;
  position: relative;
  width: 100%;
  padding: 25px;

  &--caseload {
    @extend .card;
    width: 85%;
    padding: 15px 20px;
  }
}

.card__heading {
  font-family:"GDS Transport", Arial, sans-serif;
  margin-top: 0;
  margin-bottom: 15px;

  &--large {
    @extend .card__heading;
    font-size: 48px;
    font-weight: 700;
  }
}

.card__description {
  margin-bottom: 0
}

.card-total p {
  color: govuk-colour("blue");
}

.card--clickable {
  border-bottom-width: 5px
}

.card--clickable:hover,.card--clickable:active {
  cursor: pointer
}

.card--clickable:hover .card__heading a,.card--clickable:hover .card__link,.card--clickable:active .card__heading a,.card--clickable:active .card__link {
  color: govuk-colour("blue", $variant: "shade-50");
  text-decoration: none
}

.card--clickable:hover .card__heading a:focus,.card--clickable:hover .card__link:focus,.card--clickable:active .card__heading a:focus,.card--clickable:active .card__link:focus {
  outline: 3px solid transparent;
  color: govuk-colour("black");
  background-color: govuk-colour("yellow");
  box-shadow: 0 -2px govuk-colour("yellow"), 0 4px govuk-colour("black");
  text-decoration: none
}

.card--clickable:hover {
  border-color: $govuk-border-colour
}

.card--clickable:active {
  border-color: $govuk-border-colour;
  bottom: -1px
}

.card-group {
  display: flex;
  flex-wrap: wrap;
  padding: 0
}

@media(max-width: 48.0525em) {
  .card-group {
    margin-bottom:30px
  }
}

.card-group__item {
  display: flex;
  list-style-type: none;
  margin-bottom: 0
}

@media(max-width: 48.0525em) {
  .card-group__item {
    flex:0 0 100%
  }
}

.card-group__item .card {
  margin-bottom: 30px
}

@media(max-width: 48.0525em) {
  .card-group__item .card {
    margin-bottom:15px
  }

  .card-group__item:last-child .card {
    margin-bottom: 0
  }
}
