// NOTE: some hex colours hardcoded here have been left untouched and not
// migrated to use sass functions (govuk-colour / govuk-functional-colour)
// because doing so alters slightly the look and feel of the cards and
// makes them different from the rest of DPS services.
//
@use "gov_uk" as *;

.card {
  margin-bottom: 40px;
  background: govuk-functional-colour("body-background");
  border: 1px solid #d9dadb;
  position: relative;
  width: 100%;
  padding: 25px;

  &--caseload {
    @extend .card;
    width: 85%;
    padding: 15px 20px;

    a:visited {
      color: govuk-functional-colour("link");
    }
  }
}

.card__heading {
  font-family:"GDS Transport", Arial, sans-serif;
  margin-top: 0;
  margin-bottom: 15px;

  &--large {
    @extend .card__heading;
    font-size: 48px;
    font-weight: 700;
  }
}

.card__description {
  margin-bottom: 0
}

.card-total p {
  color: govuk-functional-colour("link");
}

.card--clickable {
  border-bottom-width: 5px
}

.card--clickable:hover,.card--clickable:active {
  cursor: pointer
}

.card--clickable:hover .card__heading a,.card--clickable:hover .card__link,.card--clickable:active .card__heading a,.card--clickable:active .card__link {
  color: govuk-functional-colour("link-hover");
  text-decoration: none
}

.card--clickable:hover .card__heading a:focus,.card--clickable:hover .card__link:focus,.card--clickable:active .card__heading a:focus,.card--clickable:active .card__link:focus {
  outline: 3px solid transparent;
  color: govuk-functional-colour("focus-text");
  background-color: govuk-functional-colour("focus");
  box-shadow: 0 -2px govuk-functional-colour("focus"), 0 4px govuk-functional-colour("focus-text");
  text-decoration: none
}

.card--clickable:hover {
  border-color: #b1b4b6
}

.card--clickable:active {
  border-color: #b1b4b6;
  bottom: -1px
}

.card-group {
  display: flex;
  flex-wrap: wrap;
  padding: 0
}

@media(max-width: 48.0525em) {
  .card-group {
    margin-bottom:30px
  }
}

.card-group__item {
  display: flex;
  list-style-type: none;
  margin-bottom: 0
}

@media(max-width: 48.0525em) {
  .card-group__item {
    flex:0 0 100%
  }
}

.card-group__item .card {
  margin-bottom: 30px
}

@media(max-width: 48.0525em) {
  .card-group__item .card {
    margin-bottom:15px
  }

  .card-group__item:last-child .card {
    margin-bottom: 0
  }
}
