@use "gov_uk" as *;

.case-mix-key {
  margin: 0;

  figcaption {
    display: inline;
    margin-right: 1em;
  }

  ul {
    @extend .govuk-list;
  }

  .case-mix-key__swatch {
    border-radius: 2px;
    margin-right: 10px;
    width: 1em;
    height: 1em;
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 0.2em;
  }
}

.case-mix-horizontal {
  li {
    display: inline;
    margin-right: 1.5em;
  }
}

/**
 * Case mix bar
 */
.case-mix-bar {
  display: grid;
  grid-template-columns: var(--columns);
  column-gap: 1px;
  height: 30px;
  margin: 0;

  > dt {
    overflow: hidden;
    font-size: 0;
  }

  > dd {
    @include govuk-font(16);
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

/**
 * Tier colours
 */
.case-mix__tier_a {
  background: govuk-colour("blue", $variant: "shade-50");
  color: white;
}
.case-mix__tier_b {
  background: govuk-colour("blue", $variant: "tint-25");
}
.case-mix__tier_c {
  background: govuk-colour("magenta", $variant: "primary");
  color: white;
}
.case-mix__tier_d {
  background: govuk-colour("magenta", $variant: "tint-50");
}
.case-mix__tier_na {
  background: govuk-colour("black", $variant: "tint-80");
}
.case-mix__responsible {
  background: govuk-colour("blue", $variant: "shade-50");
  color: white;
}
.case-mix__supporting {
  background: govuk-colour("magenta", $variant: "tint-50");
  color: white;
}
.case-mix__coworking {
  background: govuk-colour("black", $variant: "tint-80");
}
