.key {
  border-radius: 2px;
  margin-right: 10px;
  width: 18px;
  height: 18px;
  display: inline-block;
}

ul#key_list li{
  display: inline;
  margin-right: 20px;
}

.fill-dark-blue   { background:#003078; }
.fill-light-blue { background: #5694ca; }
.fill-pink   { background: #d53880; }
.fill-light-pink { background: #f499be; }
.fill-grey { background: #b1b4b6; }
