@use "gov_uk" as *;

#compare-table {
  .govuk-grid-row {
    display: flex;
  }

  .pom-data {
    background-color: govuk-colour("black", $variant: "tint-95");
    border-left: 10px white solid;
    border-right: 10px white solid;
    padding: 15px 20px;

    .card--caseload {
      width: 80%;
      margin-bottom: 0;
    }
  }

  .current-pom {
    background-color: white;
    border-left: 1px solid black;
    border-right: 1px solid black;
  }

  .govuk-grid-row:first-child {
    .current-pom {
      border-top: 1px solid black !important;
    }

    .pom-data {
      border-top: 1px solid white;
    }
  }

  .govuk-grid-row:last-child {
    .current-pom {
      border-bottom: 1px solid black;
    }
  }
}
