$govuk-global-styles: true;
$govuk-image-url-function: "image-url";
$govuk-font-url-function: "asset-url";

@import "govuk/all";
@import "moj/all";

.govuk-data-value {
   @extend .govuk-heading-l;
   margin-bottom: 0;
}
.govuk-grid-column-one-sixth {
   -webkit-box-sizing: border-box;
           box-sizing: border-box;
   width: 100%;
   padding: 0;
}

.govuk-accordion__section-summary {
  margin-bottom: 20px;
}

// This is a GOV.UK Publishing specific component that
// can be seen at http://govuk-static.herokuapp.com/component-guide/related_items

.app-related-items {
  border-top: 2px solid govuk-colour("blue");
  padding-top: govuk-spacing(2);
}

.app-related-items .govuk-list > li {
  margin-bottom: govuk-spacing(2);
}

.govuk-hint {
  display: block;
}
