@forward "govuk-frontend/dist/govuk/index" with (
  $govuk-global-styles: true,
  $govuk-image-url-function: "image-url",
  $govuk-font-url-function: "asset-url",
  $govuk-assets-path: 'govuk-frontend/dist/govuk/assets/'
);

@use "govuk-frontend/dist/govuk/index";
@use "@ministryofjustice/frontend/moj/all";

.govuk-data-value {
   @extend .govuk-heading-l;
   margin-bottom: 0;
}
.govuk-grid-column-one-sixth {
   -webkit-box-sizing: border-box;
           box-sizing: border-box;
   width: 100%;
   padding: 0;
}


.govuk-hint {
  display: block;
}
