.govuk-table__header.handover-progress, .govuk-table__cell.handover-progress {
  padding-left: 20px;
}

.govuk-table__cell.handover-progress {
  .task-summary-checklist, strong {
    display: block;
    margin-bottom: 10px !important;
    
    li {
      display: flex;
      gap: 8px;
      align-items: center;
      
      img {
        margin-top: 0;
        width: 7%;
      }
    }
  }
}

.govuk-inset-text.govuk-inset-text--handover-date {
  margin-bottom: 40px;
}

.govuk-table__cell.ldu-details {
  p:first-child {
    margin-bottom: 10px;
  }
}
