@use "govuk-frontend/dist/govuk" as *;

.govuk-header {
  border-bottom: 10px solid #1d70b8;
}

.govuk-header--fallback {
  border: none !important;
  padding-bottom: 10px;
}

.govuk-header__container--fallback {
  border: none !important;
  margin-bottom: -10px;
  padding-top: 10px;
}

// Style fallback navigation items (govuk-header__navigation-item removed in v6)
.hmpps-header__navigation-item {
  display: inline-block;
  margin-right: 10px;

  a {
    color: white !important;
    text-decoration: none;
  }
}

.hmpps-header {
  padding-top: 13px;
  padding-bottom: 7px;
}

.hmpps__logotype-crest {
  display: inline-block;
  content: "";
  background: asset-url('Crest@2x.png') no-repeat;
  background-size: contain;
  width: 36px;
  height: 30px;
  margin-bottom: -2px;
  margin-right: 10px;
}

.hmpps__logotype-crown {
  display: inline-block;
  content: "";
  fill: white;
}

.hmpps-header__inner {
  border-bottom: 10px solid govuk-colour("blue");
}

.hmpps-header__navigation {
  margin-top: 10px;
  float: right;
  display: inline-block !important;
}

.hmpss-header__prison-identifier {
  color: #fff;
  font-weight: bold;
}
