@use "gov_uk" as *;

.notification {
  border: 4px solid govuk-functional-colour("success");
  padding: 15px;
  font-weight: bold;
}

.alert {
  border: 4px solid govuk-functional-colour("error");
  padding: 15px;
  font-weight: bold;
}
