@use "gov_uk" as *;

@media(min-width: 1250px) {
  .govuk-width-container,
  .moj-primary-navigation__container {
    max-width: 1170px;
  }
}

.govuk-hint {
  display: block;
}


// Stop images from being wider than their parent container
img {
  max-width: 100%;
  height: auto;
}
