@use "gov_uk" as *;

@media(min-width: 1250px) {
  .govuk-width-container,
  .moj-primary-navigation__container {
    max-width: 1170px;
  }
}

.govuk-hint {
  display: block;
}

// Prevent sort links in table headers from showing visited state,
// since they are UI controls rather than navigation links
.govuk-table__header a:visited {
  color: govuk-functional-colour("link");
}

// Stop images from being wider than their parent container
img {
  max-width: 100%;
  height: auto;
}
