@use "gov_uk" as *;

@media(min-width: 1250px) {
  .govuk-width-container,
  .moj-primary-navigation__container {
    max-width: 1170px;
  }
}

.govuk-hint {
  display: block;
}

// Custom rosh no-score class and subheading
.rosh-widget--no {
  border: 2px solid govuk-colour("yellow");
}
.rosh-widget__subheading {
  font-size: 23px !important;
}

// Stop images from being wider than their parent container
img {
  max-width: 100%;
  height: auto;
}
