.pagination {
    font-family: "GDS Transport", Arial, sans-serif;
    font-size: 19px;

    .result-count {
        text-align: right;
    }

    ul.links {
        padding-left: 0;
        margin: 0;
    }

    ul.links li {
        display: inline;
        padding: 4px;
    }
}
