.pagination {
  font-family: "GDS Transport", Arial, sans-serif;
  font-size: 19px;

  .result-count {
    text-align: right;

    .pagination__results {
      display: inline-block;
      margin-bottom: 0;
      padding: 5px;
      vertical-align: middle;
    }
  }
}

nav.govuk-pagination {
  margin-top: 2em;
  margin-bottom: 2em;
}
