// POMs table
//
.reallocation-poms-table__compare-cell {
  vertical-align: top;
  text-align: center;
}

.reallocation-poms-table__compare-checkbox {
  display: inline-block;
  padding-left: 0;

  .govuk-checkboxes__label::before {
    top: 1px;
  }

  .govuk-checkboxes__label::after {
    top: 8px;
  }
}

// Cases table
//
.reallocation-cases-table__select-column {
  width: 50px;
}

.reallocation-cases-table__select-checkbox {
  width: 24px;
  margin: 0 auto;
  padding-left: 0;
}

.reallocation-cases-table__select-all {
  padding-left: 17px;
}
