

.search-box {
    background-color:#f9f9f9;
    padding: 12px;

    input[type=text] {
        width: 80%;
    }

    input[type=submit] {
        margin-left: 20px;
        background-color: #005ea5;
    }
}

mark {
    border-bottom: 3px solid #ffbf47;
    margin-right: 1px;
    background-color: #fff2d3;
    padding: 2px 0px 0px;
}