@use "gov_uk" as *;

.search-box {
    padding: 12px;

    input[type=text] {
        width: 80%;
    }

    input[type=submit] {
        margin-left: 20px;
    }
}

mark {
    border-bottom: 3px solid govuk-functional-colour("focus");
    margin-right: 1px;
    background-color: govuk-colour("yellow", $variant: "tint-80");
    padding: 2px 0px 0px;
}
