@use "gov_uk" as *;

.service_banner {
  padding: 15px;
  background-color: govuk-colour("yellow", $variant: "tint-80");
  margin-top: 10px;
  margin-bottom: 10px;
}

.service_banner p {
  margin-bottom: 0;
}

.service_banner button {
  float: right;
  border: 0;
  background: transparent;
}

.service_banner .close-button {
  width: 20px;
  height: 20px;
}
