.service_banner {
  padding: 15px;
  background-color: #fff2d4;
}

.service_banner p {
  margin-bottom: 0;
}

.service_banner button {
  float: right;
  border: 0;
  background: transparent;
}

.service_banner .close-button {
  width: 20px;
  height: 20px;
}
