@use "gov_uk" as *;

$bright-red: govuk-colour("red");
$light-grey: govuk-colour("black", $variant: "tint-80");
$mid-grey: govuk-colour("black", $variant: "tint-50");
$purple: govuk-colour("purple");

@media screen and (max-width: 768px) {
  table.responsive thead {
    display: none;
  }

  table.responsive tr {
    border-bottom: 2px solid $light-grey;
    display: block;
  }

  table.responsive td {
    border-bottom: 1px solid $light-grey;
    display: block;
    text-align: right;
    &:last-child {
      border-bottom: none;
    }
  }
  table.responsive td:before {
    content: attr(aria-label);
    float: left;
    font-weight: bold;
  }
}

.table_cell__right_align {
  text-align: right;
}

.poms-table-cell__key {
  width: 25%;
}

.pull-right {
  float: right;
}

.govuk-table__cell {
  .highlight-primary {
    font-weight: bold;
    padding-left: 5px;
  }

  .highlight-secondary {
    padding-left: 5px;
    color: govuk-functional-colour("text");
    font-size: 16px;
    font-weight: normal;
    line-height: 1.25;
  }

  .highlight-notice {
    border-left: 5px solid $purple;
  }

  .highlight-alert {
    border-left: 5px solid $bright-red;
  }

  .highlight-neutral {
    border-left: 5px solid $mid-grey;
  }

  .highlight-cell {
    border-left: 5px solid $purple;
    padding-left: 5px;
  }
}

// POM selection table
//
.pom-selection-table__compare-cell {
  vertical-align: top;
  text-align: center;
}

.pom-selection-table__compare-checkbox {
  display: inline-block;
  padding-left: 0;

  .govuk-checkboxes__label::before {
    top: 1px;
  }

  .govuk-checkboxes__label::after {
    top: 8px;
  }
}

// Reallocation cases table
//
.reallocation-cases-table__recommended-column {
  max-width: 180px;
}

.reallocation-cases-table__select-column {
  width: 50px;
}

.reallocation-cases-table__select-checkbox {
  width: 24px;
  margin: 0 auto;
  padding-left: 0;
}

.reallocation-cases-table__select-all {
  padding-left: 17px;
}
