@import "colours";

@media screen and (max-width: 768px) {
  table.responsive thead {
    display: none;
  }

  table.responsive tr {
    border-bottom: 2px solid govuk-colour("mid-grey");
    display: block;
  }

  table.responsive td {
    border-bottom: 1px solid govuk-colour("mid-grey");
    display: block;
    text-align: right;
    &:last-child {
      border-bottom: none;
    }
  }
  table.responsive td:before {
    content: attr(aria-label);
    float: left;
    font-weight: bold;
  }
}

.table_cell__right_align {
  text-align: right;
}

.poms-table-cell__key {
  width: 25%;
}

.pull-right {
  float: right;
}

.task-summary-checklist li {
  img {
    margin-top: 0;
    width: 7%;
    padding-right: 5px;
  }
}

.govuk-table__cell {
  .highlight-primary {
    font-weight: bold;
    padding-left: 5px;
  }

  .highlight-secondary {
    padding-left: 5px;
    color: #0b0c0c;
    font-size: 16px;
    font-weight: normal;
    line-height: 1.25;
  }

  .highlight-notice {
    border-left: 5px solid $purble;
  }

  .highlight-alert {
    border-left: 5px solid $bright-red;
  }

  .highlight-cell {
    border-left: 5px solid $purble;
    padding-left: 5px;
  }
}
