@media screen and (max-width: 768px) {
  table.responsive thead {
    display: none;
  }

  table.responsive tr {
    border-bottom: 2px solid govuk-colour("grey-2");
    display: block;
  }

  table.responsive td {
    border-bottom: 1px solid govuk-colour("grey-2");
    display: block;
    text-align: right;
    &:last-child {
      border-bottom: none;
    }
  }
  table.responsive td:before {
    content: attr(aria-label);
    float: left;
    font-weight: bold;
  }
}

.table_cell__right_align {
  text-align: right;
}

.hmpps-table-cell__key {
  width: 55%;
}

.poms-table-cell__key {
  width: 25%;
}
