---
cronjobs:
  process_movements:
    enabled: true
  recalculate_handover_dates:
    enabled: true
  community_api_import:
    enabled: true
  deactivate_unsentenced_cnls:
    enabled: true
  mailbox_register_import:
    enabled: true
  parole_data_import:
    enabled: true
  persist_omic_eligibility:
    enabled: true
    schedule: 0 4 * * *

generic-prometheus-alerts:
  alertSeverity: mpc-alerts-nonprod-preprod
  businessHoursOnly: true
  rdsAlertsDatabases:
    cloud-platform-aaaaa93fa5e829b2: preprod
  elastiCacheAlertsClusterIds:
    cp-7e1ba1dc760b499f-001: preprod cluster node 1
    cp-7e1ba1dc760b499f-002: preprod cluster node 2
  sqsOldestAlertQueueNames:
    - offender-management-preprod-domain-events
  sqsNumberAlertQueueNames:
    - offender-management-preprod-domain-events-dlq

generic-service:
  ingress:
    hosts:
      - preprod.moic.service.justice.gov.uk
    tlsSecretName: allocation-manager-hostname

  scheduledDowntime:
    enabled: true

  env:
    ENV_NAME: preprod
    SENTRY_CURRENT_ENV: preprod
    ALLOCATION_MANAGER_HOST: https://preprod.moic.service.justice.gov.uk
    PRISON_API_HOST: https://prison-api-preprod.prison.service.justice.gov.uk
    PRISONER_SEARCH_HOST: https://prisoner-search-preprod.prison.service.justice.gov.uk
    KEYWORKER_API_HOST: https://keyworker-api-preprod.prison.service.justice.gov.uk
    COMPLEXITY_API_HOST: https://complexity-of-need-preprod.hmpps.service.justice.gov.uk
    NOMIS_OAUTH_HOST: https://sign-in-preprod.hmpps.service.justice.gov.uk
    ASSESS_RISKS_AND_NEEDS_API_HOST: https://assess-risks-and-needs-preprod.hmpps.service.justice.gov.uk
    MANAGE_POM_CASES_AND_DELIUS_HOST: https://manage-pom-cases-and-delius-preprod.hmpps.service.justice.gov.uk
    TIERING_API_HOST: https://hmpps-tier-preprod.hmpps.service.justice.gov.uk
    DPS_FRONTEND_COMPONENTS_API_HOST: https://frontend-components-preprod.hmpps.service.justice.gov.uk
    DIGITAL_PRISON_SERVICE_HOST: https://digital-preprod.prison.service.justice.gov.uk
    PRISON_ALERTS_API_HOST: https://alerts-api-preprod.hmpps.service.justice.gov.uk
    MAILBOX_REGISTER_API_HOST: https://manage-custody-mailbox-register-api-preprod.hmpps.service.justice.gov.uk
    NOMIS_USER_ROLES_API_HOST: https://nomis-user-roles-api-preprod.prison.service.justice.gov.uk
