<% content_for :title, "Mass Deallocate POMs – #{t('global.default_page_title')}" %>

<h2 class="govuk-heading-l">
  POM mass deallocation tool
</h2>

<div class="search-box govuk-grid-row">
  <%= form_tag(manage_deallocate_poms_path, method: :get) do %>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-half">
        <div class="govuk-form-group" style="display: inline;">
          <label class="govuk-label" for="case_id">
            Case ID
          </label>
          <input class="govuk-input govuk-input--width-10" id="case_id" name="case_id" type="text" value="<%= params[:case_id] %>" autofocus>
          <input type="submit" class="govuk-button govuk-button--secondary govuk-!-margin-left-1" value="Find by Case ID">
        </div>
      </div>
        
      <div class="govuk-grid-column-one-half">
        <div class="govuk-form-group" style="display: inline;">
          <label class="govuk-label" for="staff_id">
            Staff ID
          </label>
          <input class="govuk-input govuk-input--width-10" id="staff_id" name="staff_id" type="text" value="<%= params[:staff_id] %>" autofocus>
          <input type="submit" class="govuk-button govuk-button--secondary govuk-!-margin-left-1" value="Find by Staff ID">
        </div>
      </div>
    </div>
  <% end %>
</div>