<nav class="govuk-breadcrumbs govuk-!-margin-bottom-5" aria-label="Breadcrumb">
  <ol class="govuk-breadcrumbs__list">
    <% trail.each do |url, text| -%>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="<%= url %>"><%= text %></a>
      </li>
    <% end %>
    <li class="govuk-breadcrumbs__list-item" aria-current="page"><%= current %></li>
  </ol>
</nav>
