<div class="govuk-grid-column-one-third card-group__item">
  <div class="card card--clickable">
    <h1 class="govuk-heading-m card__heading">
      <%= link_to title, link, class:"govuk-link govuk-link--no-visited-state card__link" %>
    </h1>
    <p class="govuk-body card__description"><%=content%></p>
  </div>
</div>
