<table class="govuk-table govuk-!-margin-top-8">
  <tbody class="govuk-table__body">
  <tr class="govuk-table__row">
    <td class="govuk-table__header" scope="row">Allocation</td>
    <td class="govuk-table__cell table_cell__left_align"></td>
  </tr>
  <tr class="govuk-table__row">
    <td class="govuk-table__cell hmpps-table-cell__key">Prisoner allocation</td>
    <td class="govuk-table__cell table_cell__left_align"></td>
  </tr>
  <tr class="govuk-table__row">
    <td class="govuk-table__cell hmpps-table-cell__key">Current responsibility</td>
    <td class="govuk-table__cell table_cell__left_align"></td>
  </tr>
  <tr class="govuk-table__srow">
    <td class="govuk-table__cell hmpps-table-cell__key">Keyworker</td>
    <td class="govuk-table__cell table_cell__left_align"></td>
  </tr>
  <tr class="govuk-table__row">
    <td class="govuk-table__cell hmpps-table-cell__key">Primary POM</td>
    <td class="govuk-table__cell table_cell__left_align"></td>
  </tr>
  <tr class="govuk-table__row">
    <td class="govuk-table__cell hmpps-table-cell__key">Secondary POM</td>
    <td class="govuk-table__cell table_cell__left_align"></td>
  </tr>
  <tr class="govuk-table__row">
    <td class="govuk-table__cell hmpps-table-cell__key">COM</td>
    <td class="govuk-table__cell table_cell__left_align"></td>
  </tr>
  <tr class="govuk-table__row">
    <td class="govuk-table__cell hmpps-table-cell__key">Local Divisional Unit (LDU)</td>
    <td class="govuk-table__cell table_cell__left_align"></td>
  </tr>
  </tbody>
</table>
