<table class="govuk-table govuk-!-margin-top-8">
  <tbody class="govuk-table__body">
  <tr class="govuk-table__row">
    <td class="govuk-table__header" scope="row">Case information</td>
    <td class="govuk-table__cell table_cell__left_align"></td>
  </tr>
  <tr class="govuk-table__row">
    <td class="govuk-table__cell hmpps-table-cell__key">Case allocation</td>
    <td class="govuk-table__cell table_cell__left_align"></td>
  </tr>
  <tr class="govuk-table__row">
    <td class="govuk-table__cell hmpps-table-cell__key">Risk of Serious Recidivism (RSR) score</td>
    <td class="govuk-table__cell table_cell__left_align"></td>
  </tr>
  <tr class="govuk-table__srow">
    <td class="govuk-table__cell hmpps-table-cell__key">Offender Group Reconviction Scale (OGRS)</td>
    <td class="govuk-table__cell table_cell__left_align"></td>
  </tr>
  <tr class="govuk-table__row">
    <td class="govuk-table__cell hmpps-table-cell__key">Risk of Serious Harm (ROSH) score</td>
    <td class="govuk-table__cell table_cell__left_align"></td>
  </tr>
  <tr class="govuk-table__row">
    <td class="govuk-table__cell hmpps-table-cell__key">Tiering calculation</td>
    <td class="govuk-table__cell table_cell__left_align"></td>
  </tr>
  </tbody>
</table>
