<table class="govuk-table">
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <td class="govuk-table__header govuk-!-width-one-half" scope="row">Prisoner information</td>
      <td class="govuk-table__cell govuk-!-width-one-half"></td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell govuk-!-width-one-half">Current responsibility</td>
      <td class="govuk-table__cell table_cell__left_align  govuk-!-width-one-half"></td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">Early allocation eligibility</td>
      <td class="govuk-table__cell table_cell__left_align"></td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">COM responsibility handover deadline</td>
      <td class="govuk-table__cell table_cell__left_align"></td>
    </tr>
  </tbody>
</table>
