<table class="govuk-table">
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <td class="govuk-table__header govuk-!-width-one-half" scope="row">Prison allocation</td>
      <td class="govuk-table__cell govuk-!-width-one-half"></td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell govuk-!-width-one-half">POM role</td>
      <td class="govuk-table__cell table_cell__left_align  govuk-!-width-one-half">
        <%= @pom_responsibility %>
      </td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">POM</td>
      <td class="govuk-table__cell table_cell__left_align">
        <% if @allocation && @allocation.active? %>
          <%= @allocation.primary_pom_name.titleize %>
        <% end %>
      </td>
    </tr>
  <!-- PENDING DATA
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">Co-working POM</td>
      <td class="govuk-table__cell table_cell__left_align"></td>
    </tr>
  -->
<!-- PENDING DATA
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">Allocation history</td>
      <td class="govuk-table__cell table_cell__left_align"></td>
    </tr>
  -->
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">Keyworker</td>
      <td class="govuk-table__cell table_cell__left_align">
        <%= @keyworker.full_name %>
      </td>
    </tr>
  </tbody>
</table>
