<% if dps_components_retrieved_successfully? %>
  <%= dps_component_html('footer') %>
<% else %>
  <footer class="govuk-footer govuk-footer--fallback">
    <div class="govuk-width-container" style="height: 160px">
    </div>
  </footer>
<% end %>
