<header class="govuk-header" role="banner">
  <div class="govuk-header__container govuk-width-container">
    <a href="/" class="govuk-header__link govuk-header__link--homepage">
      <span class="hmpps__logotype-crest"></span>
      <span class="govuk-header__logotype">
        <span class="govuk-header__logotype-text moj-header__logotype-text">HMPPS </span>
        <span class="govuk-!-font-size-24 govuk-!-font-weight-regular">Manage offenders in custody</span>
      </span>
    </a>
    <ul id="navigation" class="hmpps-header__navigation" aria-label="Top Level Navigation">
      <% if current_user.present? %>
      <li class="govuk-header__navigation-item govuk-header__navigation-item--active">
        <span class='govuk-body hmpss-header__prison-identifier govuk-!-font-size-16'>HMP Cardiff <span class="govuk-!-padding-left-1">|</span></span>
        <a href='#' class='govuk-header__link govuk-!-font-size-16 govuk-!-padding-left-1'><%= current_user %></a>
      </li>
      <li class="govuk-header__navigation-item govuk-header__navigation-item--active">
        <%= link_to 'Sign out', signout_path  %>
      </li>
      <% end %>
    </ul>
  </div>
</header>
