<% unless service_notifications.empty? %>
  <% service_notifications.each do |service_alert| %>
      <div class="govuk-width-container app-site-width-container">
        <br>
        <div class="service_banner">
          <button type="button" class="close-service-notification" id=<%= service_alert['id'] %>>
            <%= image_tag('icon-close-cross-black.svg', alt:"close notification", class: "close-button") %>
          </button>
          <p><%= service_alert['text']%></p>
        </div>
      </div>
    <% end %>
<% end %>
