<% rel_type, rel_date = handover_case.earliest_release_for_handover&.to_h&.values_at('name', 'date') %>
<td class="govuk-table__cell earliest-release-date">
  <% if rel_type && rel_date %>
    <%= rel_type %>: <br>
    <%= format_date(rel_date) %>
  <% else %>
    Date is unknown
  <% end %>
</td>
