<% rel_type, rel_date = offender.earliest_release.values_at(:type, :date) %>
<td class="govuk-table__cell earliest-release-date" data-sort-value="<%= rel_date.iso8601 %>">
  <%= rel_type %>: <br>
  <%= format_date(rel_date, replacement: "ERROR: Unknown") %>
</td>
