<% handover_date = calc_handover.handover_date %>
<td class="govuk-table__cell handover-dates" data-sort-value="<%= handover_date.iso8601 %>">
  <p>
    COM responsible: <br>
    <%= format_date(handover_date, replacement: "Unknown") %>
  </p>
</td>
