<td class="govuk-table__cell ldu-details">
  <% if offender.ldu_name.nil? && offender.ldu_email_address.nil? %>
    We don’t have this information.
    <%= link_to 'Check DPS to find where this person was sentenced',
                dps_sentence_and_release_link(offender.offender_no),
                class: %w[govuk-link govuk-link--no-visited-state],
                target: '_blank'
    %>
    and then try contacting the LDU for that area.
  <% elsif offender.ldu_email_address.nil? %>
    Check how to contact <%= offender.ldu_name %> LDU. We do not have an email address recorded for it.
  <% else %>
    <p><%= offender.ldu_name %></p>
    <p><%= offender.ldu_email_address %></p>
  <% end %>
</td>
